@use '../../styles/theme' as *;
@import url('../../../../boreal-styleguidelines/dist/css/boreal.css');

.popover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: $boreal-radius-s;
  border: transparent;
  font-family: $boreal-typography-font-family-primary;

  &-content {
    padding: $boreal-spacing-s;
  }

  &[popover]:not(:popover-open) {
    display: none;
  }

  &-header {
    border-bottom: $boreal-stroke-default-light solid 1px;
    padding: $boreal-spacing-s $boreal-spacing-xs $boreal-spacing-s $boreal-spacing-s;
  }
  &-footer {
    border-top: $boreal-stroke-default-light solid 1px;
    padding: $boreal-spacing-s $boreal-spacing-xs $boreal-spacing-s $boreal-spacing-s;
  }
}
