@use '../../globals/tokens-replacement.scss' as *;

:host {
  display: flex;
  position: relative;
  --tooltip-arrow-size: 8px;
}

.tooltip-content {
  position: fixed;
  margin: 0;
  border: 0;
  overflow: visible;
  border-radius: 4px;
  background: black;
  color: white;
  padding: 8px;
  font-size: 14px;
  line-height: 16px;

  &[multiline] {
    white-space: normal;
    max-width: var(--tooltip-width, 320px);
    word-break: break-word;
    text-align: center;
  }
}

.tooltip-arrow {
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  pointer-events: none;
  z-index: -1;
}

.tooltip-arrow::before {
  content: '';
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  background: black;
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

.tooltip-content[data-placement^='top'] .tooltip-arrow {
  bottom: calc(var(--tooltip-arrow-size) / -2);
}

.tooltip-content[data-placement^='bottom'] .tooltip-arrow {
  top: calc(var(--tooltip-arrow-size) / -2);
}

.tooltip-content[data-placement^='left'] .tooltip-arrow {
  right: calc(var(--tooltip-arrow-size) / -2);
}

.tooltip-content[data-placement^='right'] .tooltip-arrow {
  left: calc(var(--tooltip-arrow-size) / -2);
}
