$boreal-accent-dark: var(--boreal-accent-dark);
$boreal-black: var(--boreal-black);
$boreal-accent-light: var(--boreal-accent-light);
$boreal-white: var(--boreal-white);
$boreal-accent-base: var(--boreal-accent-base);
$boreal-extended-teal-light: var(--boreal-extended-teal-light);
$boreal-extended-teal-lighter: var(--boreal-extended-teal-lighter);
$boreal-extended-teal-base: var(--boreal-extended-teal-base);
$boreal-extended-teal-dark: var(--boreal-extended-teal-dark);
$boreal-extended-teal-darker: var(--boreal-extended-teal-darker);
$boreal-extended-purple-base: var(--boreal-extended-purple-base);
$boreal-extended-purple-dark: var(--boreal-extended-purple-dark);
$boreal-extended-orange-base: var(--boreal-extended-orange-base);
$boreal-extended-purple-light: var(--boreal-extended-purple-light);
$boreal-extended-orange-darker: var(--boreal-extended-orange-darker);
$boreal-extended-orange-lighter: var(--boreal-extended-orange-lighter);
$boreal-extended-orange-dark: var(--boreal-extended-orange-dark);
$boreal-extended-orange-light: var(--boreal-extended-orange-light);
$boreal-extended-purple-lighter: var(--boreal-extended-purple-lighter);
$boreal-extended-purple-darker: var(--boreal-extended-purple-darker);
$boreal-extended-cyan-lighter: var(--boreal-extended-cyan-lighter);
$boreal-extended-cyan-light: var(--boreal-extended-cyan-light);
$boreal-extended-cyan-base: var(--boreal-extended-cyan-base);
$boreal-extended-cyan-dark: var(--boreal-extended-cyan-dark);
$boreal-extended-cyan-darker: var(--boreal-extended-cyan-darker);
$boreal-extended-lime-dark: var(--boreal-extended-lime-dark);
$boreal-extended-lime-base: var(--boreal-extended-lime-base);
$boreal-extended-lime-darker: var(--boreal-extended-lime-darker);
$boreal-extended-lime-light: var(--boreal-extended-lime-light);
$boreal-extended-lime-lighter: var(--boreal-extended-lime-lighter);
$boreal-extended-cobalt-lighter: var(--boreal-extended-cobalt-lighter);
$boreal-extended-cobalt-light: var(--boreal-extended-cobalt-light);
$boreal-extended-cobalt-base: var(--boreal-extended-cobalt-base);
$boreal-extended-cobalt-dark: var(--boreal-extended-cobalt-dark);
$boreal-extended-cobalt-darker: var(--boreal-extended-cobalt-darker);
$boreal-extended-onyx-lighter: var(--boreal-extended-onyx-lighter);
$boreal-extended-onyx-light: var(--boreal-extended-onyx-light);
$boreal-extended-onyx-base: var(--boreal-extended-onyx-base);
$boreal-extended-onyx-dark: var(--boreal-extended-onyx-dark);
$boreal-extended-onyx-darker: var(--boreal-extended-onyx-darker);
$boreal-extended-rose-lighter: var(--boreal-extended-rose-lighter);
$boreal-extended-rose-light: var(--boreal-extended-rose-light);
$boreal-extended-rose-base: var(--boreal-extended-rose-base);
$boreal-extended-rose-dark: var(--boreal-extended-rose-dark);
$boreal-extended-rose-darker: var(--boreal-extended-rose-darker);
$boreal-neutral-600: var(--boreal-neutral-600);
$boreal-information-lighter: var(--boreal-information-lighter);
$boreal-information-light: var(--boreal-information-light);
$boreal-success-lighter: var(--boreal-success-lighter);
$boreal-information-base: var(--boreal-information-base);
$boreal-neutral-900: var(--boreal-neutral-900);
$boreal-information-dark: var(--boreal-information-dark);
$boreal-neutral-400: var(--boreal-neutral-400);
$boreal-warning-base: var(--boreal-warning-base);
$boreal-neutral-700: var(--boreal-neutral-700);
$boreal-warning-dark: var(--boreal-warning-dark);
$boreal-warning-darker: var(--boreal-warning-darker);
$boreal-warning-light: var(--boreal-warning-light);
$boreal-focus: var(--boreal-focus);
$boreal-success-light: var(--boreal-success-light);
$boreal-neutral-50: var(--boreal-neutral-50);
$boreal-success-base: var(--boreal-success-base);
$boreal-primary-dark: var(--boreal-primary-dark);
$boreal-danger-darker: var(--boreal-danger-darker);
$boreal-primary-darker: var(--boreal-primary-darker);
$boreal-danger-dark: var(--boreal-danger-dark);
$boreal-base-alt: var(--boreal-base-alt);
$boreal-neutral-300: var(--boreal-neutral-300);
$boreal-danger-lighter: var(--boreal-danger-lighter);
$boreal-base-lighter: var(--boreal-base-lighter);
$boreal-danger-light: var(--boreal-danger-light);
$boreal-accent-lighter: var(--boreal-accent-lighter);
$boreal-success-dark: var(--boreal-success-dark);
$boreal-neutral-25: var(--boreal-neutral-25);
$boreal-accent-darker: var(--boreal-accent-darker);
$boreal-neutral-200: var(--boreal-neutral-200);
$boreal-warning-lighter: var(--boreal-warning-lighter);
$boreal-success-darker: var(--boreal-success-darker);
$boreal-primary-base: var(--boreal-primary-base);
$boreal-information-darker: var(--boreal-information-darker);
$boreal-neutral-500: var(--boreal-neutral-500);
$boreal-neutral-100: var(--boreal-neutral-100);
$boreal-danger-base: var(--boreal-danger-base);
$boreal-neutral-800: var(--boreal-neutral-800);
$boreal-base-light: var(--boreal-base-light);
$boreal-primary-light: var(--boreal-primary-light);
$boreal-primary-lighter: var(--boreal-primary-lighter);
$boreal-base-dark: var(--boreal-base-dark);
$boreal-base-darker: var(--boreal-base-darker);
$boreal-user-base: var(--boreal-user-base);
$boreal-bg-overlay: var(--boreal-bg-overlay);
$boreal-bg-inverse: var(--boreal-bg-inverse);
$boreal-bg-primary-darker: var(--boreal-bg-primary-darker);
$boreal-bg-default: var(--boreal-bg-default);
$boreal-bg-primary: var(--boreal-bg-primary);
$boreal-bg-neutral: var(--boreal-bg-neutral);
$boreal-text-success: var(--boreal-text-success);
$boreal-text-danger: var(--boreal-text-danger);
$boreal-text-default-darker: var(--boreal-text-default-darker);
$boreal-text-information: var(--boreal-text-information);
$boreal-text-accent: var(--boreal-text-accent);
$boreal-text-default: var(--boreal-text-default);
$boreal-text-default-light: var(--boreal-text-default-light);
$boreal-text-inverse: var(--boreal-text-inverse);
$boreal-text-warning: var(--boreal-text-warning);
$boreal-text-disabled: var(--boreal-text-disabled);
$boreal-text-primary: var(--boreal-text-primary);
$boreal-text-danger-dark: var(--boreal-text-danger-dark);
$boreal-text-success-dark: var(--boreal-text-success-dark);
$boreal-text-information-dark: var(--boreal-text-information-dark);
$boreal-text-warning-light: var(--boreal-text-warning-light);
$boreal-text-danger-light: var(--boreal-text-danger-light);
$boreal-text-success-light: var(--boreal-text-success-light);
$boreal-text-information-light: var(--boreal-text-information-light);
$boreal-text-warning-dark: var(--boreal-text-warning-dark);
$boreal-text-base: var(--boreal-text-base);
$boreal-text-primary-light: var(--boreal-text-primary-light);
$boreal-text-primary-dark: var(--boreal-text-primary-dark);
$boreal-ui-default: var(--boreal-ui-default);
$boreal-ui-inverse: var(--boreal-ui-inverse);
$boreal-ui-accent: var(--boreal-ui-accent);
$boreal-ui-black-light: var(--boreal-ui-black-light);
$boreal-ui-base: var(--boreal-ui-base);
$boreal-ui-base-light: var(--boreal-ui-base-light);
$boreal-ui-disabled: var(--boreal-ui-disabled);
$boreal-ui-info-light: var(--boreal-ui-info-light);
$boreal-ui-success-light: var(--boreal-ui-success-light);
$boreal-ui-success: var(--boreal-ui-success);
$boreal-ui-black: var(--boreal-ui-black);
$boreal-ui-danger-light: var(--boreal-ui-danger-light);
$boreal-ui-primary-lighter: var(--boreal-ui-primary-lighter);
$boreal-ui-danger: var(--boreal-ui-danger);
$boreal-ui-info: var(--boreal-ui-info);
$boreal-ui-primary: var(--boreal-ui-primary);
$boreal-ui-primary-light: var(--boreal-ui-primary-light);
$boreal-ui-primary-dark: var(--boreal-ui-primary-dark);
$boreal-ui-warning: var(--boreal-ui-warning);
$boreal-ui-success-lighter: var(--boreal-ui-success-lighter);
$boreal-ui-danger-lighter: var(--boreal-ui-danger-lighter);
$boreal-ui-info-lighter: var(--boreal-ui-info-lighter);
$boreal-ui-warning-light: var(--boreal-ui-warning-light);
$boreal-ui-warning-lighter: var(--boreal-ui-warning-lighter);
$boreal-ui-base-lighter: var(--boreal-ui-base-lighter);
$boreal-ui-default-dark: var(--boreal-ui-default-dark);
$boreal-ui-success-dark: var(--boreal-ui-success-dark);
$boreal-ui-danger-dark: var(--boreal-ui-danger-dark);
$boreal-ui-info-dark: var(--boreal-ui-info-dark);
$boreal-ui-warning-dark: var(--boreal-ui-warning-dark);
$boreal-ui-default-light: var(--boreal-ui-default-light);
$boreal-icon-info-dark: var(--boreal-icon-info-dark);
$boreal-icon-default-lighter: var(--boreal-icon-default-lighter);
$boreal-icon-default-light: var(--boreal-icon-default-light);
$boreal-icon-default: var(--boreal-icon-default);
$boreal-icon-success: var(--boreal-icon-success);
$boreal-icon-inverse: var(--boreal-icon-inverse);
$boreal-icon-warning: var(--boreal-icon-warning);
$boreal-icon-accent: var(--boreal-icon-accent);
$boreal-icon-danger: var(--boreal-icon-danger);
$boreal-icon-base: var(--boreal-icon-base);
$boreal-icon-primary: var(--boreal-icon-primary);
$boreal-icon-success-dark: var(--boreal-icon-success-dark);
$boreal-icon-warning-dark: var(--boreal-icon-warning-dark);
$boreal-icon-danger-dark: var(--boreal-icon-danger-dark);
$boreal-icon-info: var(--boreal-icon-info);
$boreal-icon-info-light: var(--boreal-icon-info-light);
$boreal-icon-success-light: var(--boreal-icon-success-light);
$boreal-icon-warning-light: var(--boreal-icon-warning-light);
$boreal-icon-danger-light: var(--boreal-icon-danger-light);
$boreal-icon-disabled: var(--boreal-icon-disabled);
$boreal-icon-primary-light: var(--boreal-icon-primary-light);
$boreal-icon-primary-dark: var(--boreal-icon-primary-dark);
$boreal-icon-user: var(--boreal-icon-user);
$boreal-alpha-black-50: var(--boreal-alpha-black-50);
$boreal-alpha-black-25: var(--boreal-alpha-black-25);
$boreal-alpha-white-50: var(--boreal-alpha-white-50);
$boreal-alpha-white-25: var(--boreal-alpha-white-25);
$boreal-alpha-white-10: var(--boreal-alpha-white-10);
$boreal-alpha-white-75: var(--boreal-alpha-white-75);
$boreal-alpha-white-85: var(--boreal-alpha-white-85);
$boreal-alpha-white-90: var(--boreal-alpha-white-90);
$boreal-alpha-white-95: var(--boreal-alpha-white-95);
$boreal-alpha-white-80: var(--boreal-alpha-white-80);
$boreal-alpha-white-55: var(--boreal-alpha-white-55);
$boreal-alpha-black-5: var(--boreal-alpha-black-5);
$boreal-alpha-black-10: var(--boreal-alpha-black-10);
$boreal-extended-tael-darker: var(--boreal-extended-tael-darker);
$boreal-stroke-warning: var(--boreal-stroke-warning);
$boreal-stroke-inverse: var(--boreal-stroke-inverse);
$boreal-stroke-info: var(--boreal-stroke-info);
$boreal-stroke-success: var(--boreal-stroke-success);
$boreal-stroke-default-dark: var(--boreal-stroke-default-dark);
$boreal-stroke-default-light: var(--boreal-stroke-default-light);
$boreal-stroke-default: var(--boreal-stroke-default);
$boreal-stroke-focus: var(--boreal-stroke-focus);
$boreal-stroke-danger: var(--boreal-stroke-danger);
$boreal-stroke-accent: var(--boreal-stroke-accent);
$boreal-stroke-primary: var(--boreal-stroke-primary);
$boreal-stroke-primary-light: var(--boreal-stroke-primary-light);
$boreal-stroke-primary-dark: var(--boreal-stroke-primary-dark);
$boreal-stroke-info-light: var(--boreal-stroke-info-light);
$boreal-stroke-info-dark: var(--boreal-stroke-info-dark);
$boreal-stroke-success-light: var(--boreal-stroke-success-light);
$boreal-stroke-success-dark: var(--boreal-stroke-success-dark);
$boreal-stroke-warning-light: var(--boreal-stroke-warning-light);
$boreal-stroke-warning-dark: var(--boreal-stroke-warning-dark);
$boreal-stroke-danger-light: var(--boreal-stroke-danger-light);
$boreal-stroke-danger-dark: var(--boreal-stroke-danger-dark);
$boreal-spacing-2xs: var(--boreal-spacing-2xs);
$boreal-spacing-5xl: var(--boreal-spacing-5xl);
$boreal-spacing-s: var(--boreal-spacing-s);
$boreal-spacing-2xl: var(--boreal-spacing-2xl);
$boreal-spacing-3xl: var(--boreal-spacing-3xl);
$boreal-spacing-ml: var(--boreal-spacing-ml);
$boreal-spacing-xl: var(--boreal-spacing-xl);
$boreal-spacing-l: var(--boreal-spacing-l);
$boreal-spacing-m: var(--boreal-spacing-m);
$boreal-spacing-4xl: var(--boreal-spacing-4xl);
$boreal-spacing-3xs: var(--boreal-spacing-3xs);
$boreal-spacing-xs: var(--boreal-spacing-xs);
$boreal-spacing-4xs: var(--boreal-spacing-4xs);
$boreal-spacing-1xs: var(--boreal-spacing-1xs);
$boreal-spacing-6xl: var(--boreal-spacing-6xl);
$boreal-spacing-7xl: var(--boreal-spacing-7xl);
$boreal-layout-6xl: var(--boreal-layout-6xl);
$boreal-layout-5xl: var(--boreal-layout-5xl);
$boreal-layout-2xl: var(--boreal-layout-2xl);
$boreal-layout-3xl: var(--boreal-layout-3xl);
$boreal-layout-m: var(--boreal-layout-m);
$boreal-layout-xl: var(--boreal-layout-xl);
$boreal-layout-s: var(--boreal-layout-s);
$boreal-layout-xs: var(--boreal-layout-xs);
$boreal-layout-l: var(--boreal-layout-l);
$boreal-layout-ml: var(--boreal-layout-ml);
$boreal-layout-4xl: var(--boreal-layout-4xl);
$boreal-icons-s: var(--boreal-icons-s);
$boreal-icons-m: var(--boreal-icons-m);
$boreal-icons-l: var(--boreal-icons-l);
$boreal-icons-xl: var(--boreal-icons-xl);
$boreal-radius-full: var(--boreal-radius-full);
$boreal-radius-xl: var(--boreal-radius-xl);
$boreal-radius-m: var(--boreal-radius-m);
$boreal-radius-xs2: var(--boreal-radius-xs2);
$boreal-radius-l: var(--boreal-radius-l);
$boreal-radius-s: var(--boreal-radius-s);
$boreal-radius-xs: var(--boreal-radius-xs);
$boreal-radius-none: var(--boreal-radius-none);
$boreal-typography-font-size-xs: var(--boreal-typography-font-size-xs);
$boreal-typography-font-size-sm: var(--boreal-typography-font-size-sm);
$boreal-typography-font-size-md: var(--boreal-typography-font-size-md);
$boreal-typography-font-size-lg: var(--boreal-typography-font-size-lg);
$boreal-typography-font-size-xl: var(--boreal-typography-font-size-xl);
$boreal-typography-font-size-2xl: var(--boreal-typography-font-size-2xl);
$boreal-typography-font-size-3xl: var(--boreal-typography-font-size-3xl);
$boreal-typography-font-size-4xl: var(--boreal-typography-font-size-4xl);
$boreal-typography-line-height-xs: var(--boreal-typography-line-height-xs);
$boreal-typography-line-height-sm: var(--boreal-typography-line-height-sm);
$boreal-typography-line-height-md: var(--boreal-typography-line-height-md);
$boreal-typography-line-height-lg: var(--boreal-typography-line-height-lg);
$boreal-typography-line-height-xl: var(--boreal-typography-line-height-xl);
$boreal-typography-line-height-2xl: var(--boreal-typography-line-height-2xl);
$boreal-typography-line-height-3xl: var(--boreal-typography-line-height-3xl);
$boreal-typography-line-height-4xl: var(--boreal-typography-line-height-4xl);
$boreal-typography-font-weight-light: var(--boreal-typography-font-weight-light);
$boreal-typography-font-weight-regular: var(--boreal-typography-font-weight-regular);
$boreal-typography-font-weight-semibold: var(--boreal-typography-font-weight-semibold);
$boreal-typography-font-weight-bold: var(--boreal-typography-font-weight-bold);
$boreal-typography-font-family-primary: var(--boreal-typography-font-family-primary);
$boreal-typography-font-family-secondary: var(--boreal-typography-font-family-secondary);
