$boreal-color-telesign-onyx-onyx-700: #3d3d57;
$boreal-color-telesign-onyx-onyx-600: #57576b;
$boreal-color-telesign-onyx-onyx-400: #9e9eab;
$boreal-color-telesign-onyx-onyx-300: #b7b7c0;
$boreal-color-telesign-onyx-onyx-900: #0e0e2c;
$boreal-color-telesign-onyx-onyx-800: #262640;
$boreal-color-telesign-onyx-onyx-100: #e9eaec;
$boreal-color-telesign-onyx-onyx-500: #8c8ca1;
$boreal-color-telesign-onyx-onyx-50: #f4f7f9;
$boreal-color-telesign-onyx-onyx-200: #dddde2;
$boreal-color-telesign-onyx-onyx-25: #f9fafa;
$boreal-color-telesign-indigo-indigo-800: #000f73;
$boreal-color-telesign-indigo-indigo-700: #001287;
$boreal-color-telesign-indigo-indigo-600: #00149c;
$boreal-color-telesign-indigo-indigo-300: #6675d9;
$boreal-color-telesign-indigo-indigo-100: #ccd1f2;
$boreal-color-telesign-indigo-indigo-500: #011ac2;
$boreal-color-telesign-indigo-indigo-400: #3347cf;
$boreal-color-telesign-indigo-indigo-200: #99a3e8;
$boreal-color-telesign-indigo-indigo-900: #000d61;
$boreal-color-telesign-indigo-indigo-50: #e5e8f9;
$boreal-color-telesign-indigo-indigo-25: #f9f9fd;
$boreal-color-telesign-violet-violet-800: #4f0061;
$boreal-color-telesign-violet-violet-600: #6b0082;
$boreal-color-telesign-violet-violet-400: #9e33b5;
$boreal-color-telesign-violet-violet-700: #5c0073;
$boreal-color-telesign-violet-violet-300: #b566c7;
$boreal-color-telesign-violet-violet-500: #8400a3;
$boreal-color-telesign-violet-violet-200: #cf99d9;
$boreal-color-telesign-violet-violet-100: #e5cced;
$boreal-color-telesign-violet-violet-900: #420052;
$boreal-color-telesign-violet-violet-50: #f5e4f5;
$boreal-color-telesign-violet-violet-25: #fdf8fd;
$boreal-color-telesign-cyan-cyan-500: #0ac6ff;
$boreal-color-telesign-cyan-cyan-300: #6bdeff;
$boreal-color-telesign-cyan-cyan-800: #034d63;
$boreal-color-telesign-cyan-cyan-200: #9ee8ff;
$boreal-color-telesign-cyan-cyan-100: #cff5ff;
$boreal-color-telesign-cyan-cyan-600: #089ecc;
$boreal-color-telesign-cyan-cyan-900: #022631;
$boreal-color-telesign-cyan-cyan-50: #dff6ff;
$boreal-color-telesign-cyan-cyan-700: #077392;
$boreal-color-telesign-cyan-cyan-400: #3bd1ff;
$boreal-color-telesign-cyan-cyan-25: #f7fdff;
$boreal-color-telesign-emerald-emerald-800: #009d28;
$boreal-color-telesign-emerald-emerald-700: #00b232;
$boreal-color-telesign-emerald-emerald-600: #0fc73d;
$boreal-color-telesign-emerald-emerald-500: #2ed845;
$boreal-color-telesign-emerald-emerald-300: #82e681;
$boreal-color-telesign-emerald-emerald-200: #a9eda7;
$boreal-color-telesign-emerald-emerald-100: #ccf5ca;
$boreal-color-telesign-emerald-emerald-900: #007a12;
$boreal-color-telesign-emerald-emerald-50: #ebfbea;
$boreal-color-telesign-emerald-emerald-400: #5ddf63;
$boreal-color-telesign-emerald-emerald-25: #fbfefb;
$boreal-color-telesign-cobalt-cobalt-600: #0031ef;
$boreal-color-telesign-cobalt-cobalt-500: #003afb;
$boreal-color-telesign-cobalt-cobalt-700: #0025e3;
$boreal-color-telesign-cobalt-cobalt-400: #1f5bff;
$boreal-color-telesign-cobalt-cobalt-800: #0015d9;
$boreal-color-telesign-cobalt-cobalt-200: #94a0fe;
$boreal-color-telesign-cobalt-cobalt-900: #0000bc;
$boreal-color-telesign-cobalt-cobalt-300: #5e7aff;
$boreal-color-telesign-cobalt-cobalt-100: #c1c5fe;
$boreal-color-telesign-cobalt-cobalt-50: #e7e8ff;
$boreal-color-telesign-cobalt-cobalt-25: #f9f9ff;
$boreal-color-telesign-lime-lime-800: #006611;
$boreal-color-telesign-lime-lime-700: #009923;
$boreal-color-telesign-lime-lime-300: #73da7d;
$boreal-color-telesign-lime-lime-200: #9fe4a4;
$boreal-color-telesign-lime-lime-600: #00b733;
$boreal-color-telesign-lime-lime-25: #fafefb;
$boreal-color-telesign-lime-lime-900: #002900;
$boreal-color-telesign-lime-lime-500: #0fc73d;
$boreal-color-telesign-lime-lime-400: #4cd15e;
$boreal-color-telesign-lime-lime-50: #e7f9e9;
$boreal-color-telesign-lime-lime-100: #c6eec8;
$boreal-color-telesign-sunrise-sunrise-800: #5c280a;
$boreal-color-telesign-sunrise-sunrise-600: #fa9640;
$boreal-color-telesign-sunrise-sunrise-500: #ffa244;
$boreal-color-telesign-sunrise-sunrise-400: #ffae51;
$boreal-color-telesign-sunrise-sunrise-700: #d7620e;
$boreal-color-telesign-sunrise-sunrise-200: #ffd092;
$boreal-color-telesign-sunrise-sunrise-100: #ffe2bc;
$boreal-color-telesign-sunrise-sunrise-900: #2c1107;
$boreal-color-telesign-sunrise-sunrise-300: #ffbd6a;
$boreal-color-telesign-sunrise-sunrise-50: #fff4e4;
$boreal-color-telesign-sunrise-sunrise-25: #fffcf8;
$boreal-color-telesign-cherry-cherry-800: #720820;
$boreal-color-telesign-cherry-cherry-500: #ff314b;
$boreal-color-telesign-cherry-cherry-700: #df1b42;
$boreal-color-telesign-cherry-cherry-400: #f94b63;
$boreal-color-telesign-cherry-cherry-300: #ec7181;
$boreal-color-telesign-cherry-cherry-200: #f399a5;
$boreal-color-telesign-cherry-cherry-25: #fffafb;
$boreal-color-telesign-cherry-cherry-100: #ffcdd9;
$boreal-color-telesign-cherry-cherry-900: #430513;
$boreal-color-telesign-cherry-cherry-600: #f22749;
$boreal-color-telesign-cherry-cherry-50: #ffebf1;
$boreal-color-masiv-lime-lime-80: #192b00;
$boreal-color-masiv-lime-lime-70: #2a4a00;
$boreal-color-masiv-lime-lime-60: #325c00;
$boreal-color-masiv-lime-lime-50: #427d07;
$boreal-color-masiv-lime-lime-90: #101900;
$boreal-color-masiv-lime-lime-30: #8dc75f;
$boreal-color-masiv-lime-lime-5: #eefee7;
$boreal-color-masiv-lime-lime-40: #61a824;
$boreal-color-masiv-lime-lime-10: #d5f7c1;
$boreal-color-masiv-lime-lime-20: #ace089;
$boreal-color-masiv-green-green-80: #002b0d;
$boreal-color-masiv-green-green-30: #67c98c;
$boreal-color-masiv-green-green-60: #006120;
$boreal-color-masiv-green-green-50: #058531;
$boreal-color-masiv-green-green-5: #eefbf4;
$boreal-color-masiv-green-green-40: #24a852;
$boreal-color-masiv-green-green-90: #001b07;
$boreal-color-masiv-green-green-70: #004a18;
$boreal-color-masiv-green-green-10: #c7f0d7;
$boreal-color-masiv-green-green-20: #96deb2;
$boreal-color-masiv-teal-teal-80: #002928;
$boreal-color-masiv-teal-teal-50: #00827d;
$boreal-color-masiv-teal-teal-10: #bef0f4;
$boreal-color-masiv-teal-teal-40: #0ca6ab;
$boreal-color-masiv-teal-teal-60: #005958;
$boreal-color-masiv-teal-teal-20: #87dee3;
$boreal-color-masiv-teal-teal-90: #001a18;
$boreal-color-masiv-teal-teal-30: #52c6cc;
$boreal-color-masiv-teal-teal-70: #004543;
$boreal-color-masiv-teal-teal-5: #e8fbfc;
$boreal-color-masiv-cyan-cyan-90: #05161f;
$boreal-color-masiv-cyan-cyan-60: #06527a;
$boreal-color-masiv-cyan-cyan-50: #0a77ba;
$boreal-color-masiv-cyan-cyan-40: #119aeb;
$boreal-color-masiv-cyan-cyan-30: #5abefc;
$boreal-color-masiv-cyan-cyan-10: #c2e9ff;
$boreal-color-masiv-cyan-cyan-70: #063e59;
$boreal-color-masiv-cyan-cyan-20: #8ad4ff;
$boreal-color-masiv-cyan-cyan-5: #ebf9ff;
$boreal-color-masiv-cyan-cyan-80: #052533;
$boreal-color-masiv-blue-blue-80: #03204a;
$boreal-color-masiv-blue-blue-40: #467df7;
$boreal-color-masiv-blue-blue-90: #03152b;
$boreal-color-masiv-blue-blue-70: #023075;
$boreal-color-masiv-blue-blue-30: #7ba9fe;
$boreal-color-masiv-blue-blue-20: #9ec5ff;
$boreal-color-masiv-blue-blue-60: #0442ab;
$boreal-color-masiv-blue-blue-50: #0a5bfc;
$boreal-color-masiv-blue-blue-10: #d1e4ff;
$boreal-color-masiv-blue-blue-5: #f0f7ff;
$boreal-color-masiv-purple-purple-90: #16042a;
$boreal-color-masiv-purple-purple-80: #29074f;
$boreal-color-masiv-purple-purple-70: #400c73;
$boreal-color-masiv-purple-purple-60: #5c1899;
$boreal-color-masiv-purple-purple-30: #cb80f2;
$boreal-color-masiv-purple-purple-50: #892cd1;
$boreal-color-masiv-purple-purple-40: #a751e0;
$boreal-color-masiv-purple-purple-20: #e698f5;
$boreal-color-masiv-purple-purple-10: #f7c6f7;
$boreal-color-masiv-purple-purple-5: #fceefc;
$boreal-color-masiv-rose-rose-80: #420a28;
$boreal-color-masiv-rose-rose-60: #8e154f;
$boreal-color-masiv-rose-rose-50: #bf2367;
$boreal-color-masiv-rose-rose-90: #220716;
$boreal-color-masiv-rose-rose-70: #630e39;
$boreal-color-masiv-rose-rose-5: #fceef7;
$boreal-color-masiv-rose-rose-40: #db4884;
$boreal-color-masiv-rose-rose-30: #fb74a7;
$boreal-color-masiv-rose-rose-20: #ff9ec6;
$boreal-color-masiv-rose-rose-10: #ffcce4;
$boreal-color-masiv-red-red-80: #45040e;
$boreal-color-masiv-red-red-90: #260309;
$boreal-color-masiv-red-red-50: #c7242b;
$boreal-color-masiv-red-red-40: #e44e51;
$boreal-color-masiv-red-red-30: #f87c7e;
$boreal-color-masiv-red-red-10: #ffd1d1;
$boreal-color-masiv-red-red-70: #690713;
$boreal-color-masiv-red-red-60: #94101b;
$boreal-color-masiv-red-red-20: #ffa3a5;
$boreal-color-masiv-red-red-5: #fff0f1;
$boreal-color-masiv-orange-orange-70: #612500;
$boreal-color-masiv-orange-orange-50: #bc550b;
$boreal-color-masiv-orange-orange-30: #ffa352;
$boreal-color-masiv-orange-orange-80: #3e1600;
$boreal-color-masiv-orange-orange-40: #ec7a22;
$boreal-color-masiv-orange-orange-20: #ffc88a;
$boreal-color-masiv-orange-orange-10: #ffe9c7;
$boreal-color-masiv-orange-orange-90: #240c00;
$boreal-color-masiv-orange-orange-60: #8a3900;
$boreal-color-masiv-orange-orange-5: #fff8e6;
$boreal-color-masiv-yellow-yellow-80: #332200;
$boreal-color-masiv-yellow-yellow-60: #755100;
$boreal-color-masiv-yellow-yellow-40: #dba70a;
$boreal-color-masiv-yellow-yellow-10: #fff5c2;
$boreal-color-masiv-yellow-yellow-30: #f2c840;
$boreal-color-masiv-yellow-yellow-90: #1f1300;
$boreal-color-masiv-yellow-yellow-50: #a37600;
$boreal-color-masiv-yellow-yellow-20: #ffe180;
$boreal-color-masiv-yellow-yellow-70: #523800;
$boreal-color-masiv-yellow-yellow-5: #fffde6;
$boreal-color-masiv-ink-ink-90: #131316;
$boreal-color-masiv-ink-ink-70: #272a2f;
$boreal-color-masiv-ink-ink-60: #3b3f45;
$boreal-color-masiv-ink-ink-50: #595d64;
$boreal-color-masiv-ink-ink-30: #b6b8be;
$boreal-color-masiv-ink-ink-40: #8a8e96;
$boreal-color-masiv-ink-ink-20: #d3d4d9;
$boreal-color-masiv-ink-ink-80: #1c1e21;
$boreal-color-masiv-ink-ink-10: #e3e3e6;
$boreal-color-masiv-ink-ink-5: #f7f7f8;
$boreal-color-white: #ffffff;
$boreal-color-bics-petrol-petrol-3: #007da4;
$boreal-color-bics-petrol-petrol-4: #33a3c2;
$boreal-color-bics-petrol-petrol-5: #99cbdd;
$boreal-color-bics-petrol-petrol-6: #c4e1eb;
$boreal-color-bics-petrol-petrol-1: #003242;
$boreal-color-bics-petrol-petrol-2: #005066;
$boreal-color-bics-petrol-petrol-7: #eaf6fa;
$boreal-color-bics-ice-ice-3: #4bb7e2;
$boreal-color-bics-ice-ice-4: #76c7e8;
$boreal-color-bics-ice-ice-5: #96d6ee;
$boreal-color-bics-ice-ice-6: #b7e2f3;
$boreal-color-bics-ice-ice-1: #2d6f89;
$boreal-color-bics-ice-ice-2: #3894b3;
$boreal-color-bics-ice-ice-7: #ecf7fb;
$boreal-color-bics-cobalt-cobalt-3: #143db2;
$boreal-color-bics-cobalt-cobalt-5: #718ed7;
$boreal-color-bics-cobalt-cobalt-6: #a1b1e0;
$boreal-color-bics-cobalt-cobalt-7: #e7ebf8;
$boreal-color-bics-cobalt-cobalt-1: #10318e;
$boreal-color-bics-cobalt-cobalt-4: #3b60c5;
$boreal-color-bics-cobalt-cobalt-2: #1238a1;
$boreal-color-bics-byzantine-byzantine-3: #2163ce;
$boreal-color-bics-byzantine-byzantine-4: #4a83d9;
$boreal-color-bics-byzantine-byzantine-5: #759fe0;
$boreal-color-bics-byzantine-byzantine-6: #a6c1eb;
$boreal-color-bics-byzantine-byzantine-2: #153f87;
$boreal-color-bics-byzantine-byzantine-1: #0c2a5c;
$boreal-color-bics-byzantine-byzantine-7: #e9f0fb;
$boreal-color-bics-grey-grey-1: #21363e;
$boreal-color-bics-grey-grey-2: #37474f;
$boreal-color-bics-grey-grey-3: #7a8b91;
$boreal-color-bics-grey-grey-4: #a1adb2;
$boreal-color-bics-grey-grey-5: #c4cfd4;
$boreal-color-bics-grey-grey-6: #e0e6e9;
$boreal-color-bics-grey-grey-7: #f0f1f2;
$boreal-color-bics-grey-grey-8: #e3e3e6;
$boreal-color-bics-black-black-1: #1a1a1a;
$boreal-color-bics-black-black-2: #252525;
$boreal-color-bics-black-black-3: #333333;
$boreal-color-bics-black-black-4: #4c4c4c;
$boreal-color-bics-black-black-5: #7d7d7d;
$boreal-color-bics-black-black-6: #bfbfbf;
$boreal-color-bics-black-black-7: #f2f2f2;
$boreal-color-bics-sea-sea-1: #009977;
$boreal-color-bics-sea-sea-2: #00aa88;
$boreal-color-bics-sea-sea-3: #00cc99;
$boreal-color-bics-sea-sea-4: #33d6ad;
$boreal-color-bics-sea-sea-5: #66e0c2;
$boreal-color-bics-sea-sea-6: #99ecd6;
$boreal-color-bics-sea-sea-7: #e5faf5;
$boreal-color-bics-success-success-1: #004d00;
$boreal-color-bics-success-success-2: #006600;
$boreal-color-bics-success-success-3: #008000;
$boreal-color-bics-success-success-4: #339933;
$boreal-color-bics-success-success-5: #66b266;
$boreal-color-bics-success-success-6: #c0e6c0;
$boreal-color-bics-success-success-7: #eaf7ea;
$boreal-color-bics-warning-warning-1: #623400;
$boreal-color-bics-warning-warning-2: #8a4600;
$boreal-color-bics-warning-warning-3: #f58221;
$boreal-color-bics-warning-warning-4: #f89b4c;
$boreal-color-bics-warning-warning-5: #fab777;
$boreal-color-bics-warning-warning-6: #fbcda6;
$boreal-color-bics-warning-warning-7: #fef0e6;
$boreal-color-bics-error-error-1: #690000;
$boreal-color-bics-error-error-2: #8a0000;
$boreal-color-bics-error-error-3: #b30000;
$boreal-color-bics-error-error-4: #d93c3c;
$boreal-color-bics-error-error-5: #e58080;
$boreal-color-bics-error-error-6: #f1c6c6;
$boreal-color-bics-error-error-7: #faeaea;
$boreal-color-proximus-onyx-onyx-50: #8d97a4;
$boreal-color-proximus-onyx-onyx-60: #656e7b;
$boreal-color-proximus-onyx-onyx-70: #525b67;
$boreal-color-proximus-onyx-onyx-80: #333c48;
$boreal-color-proximus-onyx-onyx-40: #adb7c4;
$boreal-color-proximus-onyx-onyx-30: #d0dae9;
$boreal-color-proximus-onyx-onyx-20: #e0eaf9;
$boreal-color-proximus-onyx-onyx-90: #131c26;
$boreal-color-proximus-onyx-onyx-10: #e9f3ff;
$boreal-color-proximus-onyx-onyx-5: #f0faff;
$boreal-color-proximus-cobalt-cobalt-5: #e7e8ff;
$boreal-color-proximus-cobalt-cobalt-10: #c1c5fe;
$boreal-color-proximus-cobalt-cobalt-20: #94a0fe;
$boreal-color-proximus-cobalt-cobalt-30: #5e7aff;
$boreal-color-proximus-cobalt-cobalt-40: #1f5bff;
$boreal-color-proximus-cobalt-cobalt-50: #003afb;
$boreal-color-proximus-cobalt-cobalt-60: #0031ef;
$boreal-color-proximus-cobalt-cobalt-70: #0025e3;
$boreal-color-proximus-cobalt-cobalt-80: #0015d9;
$boreal-color-proximus-cobalt-cobalt-90: #0000bf;
$boreal-color-proximus-mint-mint-5: #e0faed;
$boreal-color-proximus-mint-mint-10: #b3f0d1;
$boreal-color-proximus-mint-mint-20: #7be7b3;
$boreal-color-proximus-mint-mint-30: #00dd92;
$boreal-color-proximus-mint-mint-40: #00d47a;
$boreal-color-proximus-mint-mint-50: #00c964;
$boreal-color-proximus-mint-mint-60: #00b959;
$boreal-color-proximus-mint-mint-70: #00a64c;
$boreal-color-proximus-mint-mint-80: #00943f;
$boreal-color-proximus-mint-mint-90: #00732a;
$boreal-spacing-2xs: 4px;
$boreal-spacing-5xl: 64px;
$boreal-spacing-s: 12px;
$boreal-spacing-2xl: 40px;
$boreal-spacing-3xl: 48px;
$boreal-spacing-ml: 20px;
$boreal-spacing-xl: 32px;
$boreal-spacing-l: 24px;
$boreal-spacing-m: 16px;
$boreal-spacing-4xl: 56px;
$boreal-spacing-3xs: 2px;
$boreal-spacing-xs: 8px;
$boreal-spacing-4xs: 1px;
$boreal-spacing-1xs: 6px;
$boreal-spacing-6xl: 80px;
$boreal-spacing-7xl: 96px;
$boreal-layout-6xl: 160px;
$boreal-layout-5xl: 120px;
$boreal-layout-2xl: 64px;
$boreal-layout-3xl: 80px;
$boreal-layout-m: 16px;
$boreal-layout-xl: 48px;
$boreal-layout-s: 12px;
$boreal-layout-xs: 8px;
$boreal-layout-l: 32px;
$boreal-layout-ml: 24px;
$boreal-layout-4xl: 96px;
$boreal-icons-s: 12px;
$boreal-icons-m: 16px;
$boreal-icons-l: 20px;
$boreal-icons-xl: 24px;
$boreal-radius-full: 360px;
$boreal-radius-xl: 24px;
$boreal-radius-m: 12px;
$boreal-radius-xs2: 2px;
$boreal-radius-l: 16px;
$boreal-radius-s: 8px;
$boreal-radius-xs: 4px;
$boreal-radius-none: 0px;
$boreal-typography-font-size-xs: 12px;
$boreal-typography-font-size-sm: 14px;
$boreal-typography-font-size-md: 16px;
$boreal-typography-font-size-lg: 20px;
$boreal-typography-font-size-xl: 28px;
$boreal-typography-font-size-2xl: 32px;
$boreal-typography-font-size-3xl: 42px;
$boreal-typography-font-size-4xl: 54px;
$boreal-typography-line-height-xs: 16px;
$boreal-typography-line-height-sm: 20px;
$boreal-typography-line-height-md: 22px;
$boreal-typography-line-height-lg: 28px;
$boreal-typography-line-height-xl: 36px;
$boreal-typography-line-height-2xl: 40px;
$boreal-typography-line-height-3xl: 50px;
$boreal-typography-line-height-4xl: 64px;
$boreal-typography-font-weight-light: 300;
$boreal-typography-font-weight-regular: 400;
$boreal-typography-font-weight-semibold: 600;
$boreal-typography-font-weight-bold: 700;
$boreal-typography-font-family-primary:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Microsoft Sans Serif', Freesans, Helvetica, Arial,
  sans-serif;
$boreal-typography-font-family-secondary: Courier;

/*

$boreal-typography-font-family-primary:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Microsoft Sans Serif', Freesans, Helvetica, Arial,
  sans-serif;
$boreal-typography-font-family-secondary: Courier;

$boreal-typography-font-size-xs: 0.75rem;
$boreal-typography-font-size-sm: 0.875rem;
$boreal-typography-font-size-md: 1rem;
$boreal-typography-font-size-lg: 1.25rem;
$boreal-typography-font-size-xl: 1.75rem;
$boreal-typography-font-size-2xl: 2rem;
$boreal-typography-font-size-3xl: 2.625rem;
$boreal-typography-font-size-4xl: 3.375rem;

$boreal-typography-line-height-xs: 1rem;
$boreal-typography-line-height-sm: 1.25rem;
$boreal-typography-line-height-md: 1.375rem;
$boreal-typography-line-height-lg: 1.75rem;
$boreal-typography-line-height-xl: 2.25rem;
$boreal-typography-line-height-2xl: 2.5rem;
$boreal-typography-line-height-3xl: 3.125rem;
$boreal-typography-line-height-4xl: 4rem;

$boreal-typography-font-style-normal: normal;
$boreal-typography-font-style-italic: italic;

$boreal-typography-font-weight-light: 300;
$boreal-typography-font-weight-regular: 400;
$boreal-typography-font-weight-semibold: 600;
$boreal-typography-font-weight-bold: 700;

$boreal-radius-full: 360px;
$boreal-radius-xl: 24px;
$boreal-radius-m: 12px;
$boreal-radius-xs2: 2px;
$boreal-radius-l: 16px;
$boreal-radius-s: 8px;
$boreal-radius-xs: 4px;
$boreal-radius-none: 0px;

$boreal-spacing-4xs: 1px;
$boreal-spacing-3xs: 2px;
$boreal-spacing-2xs: 4px;
$boreal-spacing-1xs: 6px;
$boreal-spacing-xs: 8px;
$boreal-spacing-s: 12px;
$boreal-spacing-m: 16px;
$boreal-spacing-ml: 20px;
$boreal-spacing-l: 24px;
$boreal-spacing-xl: 32px;
$boreal-spacing-2xl: 40px;
$boreal-spacing-3xl: 48px;
$boreal-spacing-4xl: 56px;
$boreal-spacing-5xl: 64px;
$boreal-spacing-6xl: 80px;
$boreal-spacing-7xl: 96px;

$boreal-text-default-darker: #131316;
$boreal-text-default: #272a2f;
$boreal-text-default-light: #8a8e96;

$boreal-ui-base-light: #e3e3e6;

$boreal-text-disabled: #b6b8be;
$boreal-text-danger: #c7242b;
$boreal-text-danger-light: #ffa3a5;
$boreal-text-primary: #0a5bfc;
$boreal-text-primary-dark: #023075;

$boreal-icon-default-light: #b6b8be;
*/
