.bds-typography {
  box-sizing: border-box;
  font-family: $boreal-typography-font-family-primary;
  font-weight: $boreal-typography-font-weight-regular;

  &__required-indicator {
    color: $boreal-icon-danger;
    font-weight: $boreal-typography-font-weight-regular;
  }

  &__info-icon {
    color: $boreal-icon-default-light;
  }

  &--heading,
  &--subheading {
    display: flex;
    align-items: center;
    gap: $boreal-spacing-3xs;
  }
  &--label {
    display: inline-flex;
    align-items: center;
    gap: $boreal-spacing-3xs;
  }
  &--display {
    display: block;
  }
  &--caption,
  &--helper,
  &--link {
    display: inline-block;
  }

  &--caption {
    font-size: $boreal-typography-font-size-xs;
    font-weight: $boreal-typography-font-weight-regular;
    line-height: $boreal-typography-line-height-md;
    color: $boreal-text-default-light;
  }

  &--helper {
    font-size: $boreal-typography-font-size-xs;
    font-weight: $boreal-typography-font-weight-regular;
    line-height: $boreal-typography-line-height-sm;
    color: $boreal-text-default-light;
  }

  &--link {
    font-size: $boreal-typography-font-size-sm;
    font-weight: $boreal-typography-font-weight-regular;
    line-height: $boreal-typography-line-height-md;
    color: $boreal-text-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $boreal-text-primary;
    }
    &:active {
      color: $boreal-text-primary-dark;
    }

    &.bds-typography--size-sm {
      font-size: $boreal-typography-font-size-xs;
    }
    &.bds-typography--size-md {
      font-size: $boreal-typography-font-size-sm;
    }
  }

  &--code {
    font-family: $boreal-typography-font-family-secondary;
    font-size: $boreal-typography-font-size-xs;
    font-weight: $boreal-typography-font-weight-regular;
    color: $boreal-text-base;
    line-height: $boreal-typography-line-height-md;
    overflow-wrap: break-word;

    background-color: $boreal-neutral-100;
    padding: $boreal-spacing-3xs $boreal-spacing-xs;
    border-radius: $boreal-radius-xs;

    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  &--label {
    font-size: $boreal-typography-font-size-xs;
    font-weight: $boreal-typography-font-weight-semibold;
    line-height: $boreal-typography-line-height-md;
    color: $boreal-text-default-darker;
  }

  &--display {
    font-weight: $boreal-typography-font-weight-regular;
    color: $boreal-text-base;

    &.bds-typography--size-sm {
      font-size: $boreal-typography-font-size-xl;
      line-height: $boreal-typography-line-height-xl;
    }
    &.bds-typography--size-md {
      font-size: $boreal-typography-font-size-2xl;
      line-height: $boreal-typography-line-height-2xl;
    }
    &.bds-typography--size-lg {
      font-size: $boreal-typography-font-size-3xl;
      line-height: $boreal-typography-line-height-3xl;
      font-weight: $boreal-typography-font-weight-light;
    }
    &.bds-typography--size-xl {
      font-size: $boreal-typography-font-size-4xl;
      line-height: $boreal-typography-line-height-4xl;
      font-weight: $boreal-typography-font-weight-light;
    }
  }

  &--heading {
    font-size: $boreal-typography-font-size-lg;
    line-height: $boreal-typography-line-height-lg;
    font-weight: $boreal-typography-font-weight-regular;
    color: $boreal-text-base;
  }

  h1.bds-typography--heading {
    font-weight: $boreal-typography-font-weight-regular;
    font-size: $boreal-typography-font-size-4xl;
    line-height: $boreal-typography-line-height-4xl;
  }
  h2.bds-typography--heading {
    font-weight: $boreal-typography-font-weight-regular;
    font-size: $boreal-typography-font-size-3xl;
    line-height: $boreal-typography-line-height-3xl;
  }
  h3.bds-typography--heading {
    font-weight: $boreal-typography-font-weight-regular;
    font-size: $boreal-typography-font-size-2xl;
    line-height: $boreal-typography-line-height-2xl;
  }
  h4.bds-typography--heading {
    font-weight: $boreal-typography-font-weight-regular;
    font-size: $boreal-typography-font-size-xl;
    line-height: $boreal-typography-line-height-xl;
  }
  h5.bds-typography--heading {
    font-weight: $boreal-typography-font-weight-regular;
    font-size: $boreal-typography-font-size-lg;
    line-height: $boreal-typography-line-height-lg;
  }
  h6.bds-typography--heading {
    font-size: $boreal-typography-font-size-md;
    font-weight: $boreal-typography-font-weight-semibold;
    line-height: $boreal-typography-line-height-md;
  }

  &--subheading {
    font-size: $boreal-typography-font-size-md;
    line-height: $boreal-typography-line-height-md;
    font-weight: $boreal-typography-font-weight-semibold;
  }

  &--align-start {
    text-align: start;
  }
  &--align-center {
    text-align: center;
  }
  &--align-end {
    text-align: end;
  }
  &--align-inherit {
    text-align: inherit;
  }

  &--error {
    color: $boreal-text-danger;
  }

  &--disabled {
    color: $boreal-text-disabled;
    pointer-events: none;
    cursor: not-allowed;

    .bds-typography__required-indicator {
      color: $boreal-text-danger-light;
    }
  }

  &--ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &--ellipsis-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
  }
}
