​:root {
  --boreal-color-telesign-onyx-onyx-700: #3d3d57;
  --boreal-color-telesign-onyx-onyx-600: #57576b;
  --boreal-color-telesign-onyx-onyx-400: #9e9eab;
  --boreal-color-telesign-onyx-onyx-300: #b7b7c0;
  --boreal-color-telesign-onyx-onyx-900: #0e0e2c;
  --boreal-color-telesign-onyx-onyx-800: #262640;
  --boreal-color-telesign-onyx-onyx-100: #e9eaec;
  --boreal-color-telesign-onyx-onyx-500: #8c8ca1;
  --boreal-color-telesign-onyx-onyx-50: #f4f7f9;
  --boreal-color-telesign-onyx-onyx-200: #dddde2;
  --boreal-color-telesign-onyx-onyx-25: #f9fafa;
  --boreal-color-telesign-indigo-indigo-800: #000f73;
  --boreal-color-telesign-indigo-indigo-700: #001287;
  --boreal-color-telesign-indigo-indigo-600: #00149c;
  --boreal-color-telesign-indigo-indigo-300: #6675d9;
  --boreal-color-telesign-indigo-indigo-100: #ccd1f2;
  --boreal-color-telesign-indigo-indigo-500: #011ac2;
  --boreal-color-telesign-indigo-indigo-400: #3347cf;
  --boreal-color-telesign-indigo-indigo-200: #99a3e8;
  --boreal-color-telesign-indigo-indigo-900: #000d61;
  --boreal-color-telesign-indigo-indigo-50: #e5e8f9;
  --boreal-color-telesign-indigo-indigo-25: #f9f9fd;
  --boreal-color-telesign-violet-violet-800: #4f0061;
  --boreal-color-telesign-violet-violet-600: #6b0082;
  --boreal-color-telesign-violet-violet-400: #9e33b5;
  --boreal-color-telesign-violet-violet-700: #5c0073;
  --boreal-color-telesign-violet-violet-300: #b566c7;
  --boreal-color-telesign-violet-violet-500: #8400a3;
  --boreal-color-telesign-violet-violet-200: #cf99d9;
  --boreal-color-telesign-violet-violet-100: #e5cced;
  --boreal-color-telesign-violet-violet-900: #420052;
  --boreal-color-telesign-violet-violet-50: #f5e4f5;
  --boreal-color-telesign-violet-violet-25: #fdf8fd;
  --boreal-color-telesign-cyan-cyan-500: #0ac6ff;
  --boreal-color-telesign-cyan-cyan-300: #6bdeff;
  --boreal-color-telesign-cyan-cyan-800: #034d63;
  --boreal-color-telesign-cyan-cyan-200: #9ee8ff;
  --boreal-color-telesign-cyan-cyan-100: #cff5ff;
  --boreal-color-telesign-cyan-cyan-600: #089ecc;
  --boreal-color-telesign-cyan-cyan-900: #022631;
  --boreal-color-telesign-cyan-cyan-50: #dff6ff;
  --boreal-color-telesign-cyan-cyan-700: #077392;
  --boreal-color-telesign-cyan-cyan-400: #3bd1ff;
  --boreal-color-telesign-cyan-cyan-25: #f7fdff;
  --boreal-color-telesign-emerald-emerald-800: #009d28;
  --boreal-color-telesign-emerald-emerald-700: #00b232;
  --boreal-color-telesign-emerald-emerald-600: #0fc73d;
  --boreal-color-telesign-emerald-emerald-500: #2ed845;
  --boreal-color-telesign-emerald-emerald-300: #82e681;
  --boreal-color-telesign-emerald-emerald-200: #a9eda7;
  --boreal-color-telesign-emerald-emerald-100: #ccf5ca;
  --boreal-color-telesign-emerald-emerald-900: #007a12;
  --boreal-color-telesign-emerald-emerald-50: #ebfbea;
  --boreal-color-telesign-emerald-emerald-400: #5ddf63;
  --boreal-color-telesign-emerald-emerald-25: #fbfefb;
  --boreal-color-telesign-cobalt-cobalt-600: #0031ef;
  --boreal-color-telesign-cobalt-cobalt-500: #003afb;
  --boreal-color-telesign-cobalt-cobalt-700: #0025e3;
  --boreal-color-telesign-cobalt-cobalt-400: #1f5bff;
  --boreal-color-telesign-cobalt-cobalt-800: #0015d9;
  --boreal-color-telesign-cobalt-cobalt-200: #94a0fe;
  --boreal-color-telesign-cobalt-cobalt-900: #0000bc;
  --boreal-color-telesign-cobalt-cobalt-300: #5e7aff;
  --boreal-color-telesign-cobalt-cobalt-100: #c1c5fe;
  --boreal-color-telesign-cobalt-cobalt-50: #e7e8ff;
  --boreal-color-telesign-cobalt-cobalt-25: #f9f9ff;
  --boreal-color-telesign-lime-lime-800: #006611;
  --boreal-color-telesign-lime-lime-700: #009923;
  --boreal-color-telesign-lime-lime-300: #73da7d;
  --boreal-color-telesign-lime-lime-200: #9fe4a4;
  --boreal-color-telesign-lime-lime-600: #00b733;
  --boreal-color-telesign-lime-lime-25: #fafefb;
  --boreal-color-telesign-lime-lime-900: #002900;
  --boreal-color-telesign-lime-lime-500: #0fc73d;
  --boreal-color-telesign-lime-lime-400: #4cd15e;
  --boreal-color-telesign-lime-lime-50: #e7f9e9;
  --boreal-color-telesign-lime-lime-100: #c6eec8;
  --boreal-color-telesign-sunrise-sunrise-800: #5c280a;
  --boreal-color-telesign-sunrise-sunrise-600: #fa9640;
  --boreal-color-telesign-sunrise-sunrise-500: #ffa244;
  --boreal-color-telesign-sunrise-sunrise-400: #ffae51;
  --boreal-color-telesign-sunrise-sunrise-700: #d7620e;
  --boreal-color-telesign-sunrise-sunrise-200: #ffd092;
  --boreal-color-telesign-sunrise-sunrise-100: #ffe2bc;
  --boreal-color-telesign-sunrise-sunrise-900: #2c1107;
  --boreal-color-telesign-sunrise-sunrise-300: #ffbd6a;
  --boreal-color-telesign-sunrise-sunrise-50: #fff4e4;
  --boreal-color-telesign-sunrise-sunrise-25: #fffcf8;
  --boreal-color-telesign-cherry-cherry-800: #720820;
  --boreal-color-telesign-cherry-cherry-500: #ff314b;
  --boreal-color-telesign-cherry-cherry-700: #df1b42;
  --boreal-color-telesign-cherry-cherry-400: #f94b63;
  --boreal-color-telesign-cherry-cherry-300: #ec7181;
  --boreal-color-telesign-cherry-cherry-200: #f399a5;
  --boreal-color-telesign-cherry-cherry-25: #fffafb;
  --boreal-color-telesign-cherry-cherry-100: #ffcdd9;
  --boreal-color-telesign-cherry-cherry-900: #430513;
  --boreal-color-telesign-cherry-cherry-600: #f22749;
  --boreal-color-telesign-cherry-cherry-50: #ffebf1;
  --boreal-color-masiv-lime-lime-80: #192b00;
  --boreal-color-masiv-lime-lime-70: #2a4a00;
  --boreal-color-masiv-lime-lime-60: #325c00;
  --boreal-color-masiv-lime-lime-50: #427d07;
  --boreal-color-masiv-lime-lime-90: #101900;
  --boreal-color-masiv-lime-lime-30: #8dc75f;
  --boreal-color-masiv-lime-lime-5: #eefee7;
  --boreal-color-masiv-lime-lime-40: #61a824;
  --boreal-color-masiv-lime-lime-10: #d5f7c1;
  --boreal-color-masiv-lime-lime-20: #ace089;
  --boreal-color-masiv-green-green-80: #002b0d;
  --boreal-color-masiv-green-green-30: #67c98c;
  --boreal-color-masiv-green-green-60: #006120;
  --boreal-color-masiv-green-green-50: #058531;
  --boreal-color-masiv-green-green-5: #eefbf4;
  --boreal-color-masiv-green-green-40: #24a852;
  --boreal-color-masiv-green-green-90: #001b07;
  --boreal-color-masiv-green-green-70: #004a18;
  --boreal-color-masiv-green-green-10: #c7f0d7;
  --boreal-color-masiv-green-green-20: #96deb2;
  --boreal-color-masiv-teal-teal-80: #002928;
  --boreal-color-masiv-teal-teal-50: #00827d;
  --boreal-color-masiv-teal-teal-10: #bef0f4;
  --boreal-color-masiv-teal-teal-40: #0ca6ab;
  --boreal-color-masiv-teal-teal-60: #005958;
  --boreal-color-masiv-teal-teal-20: #87dee3;
  --boreal-color-masiv-teal-teal-90: #001a18;
  --boreal-color-masiv-teal-teal-30: #52c6cc;
  --boreal-color-masiv-teal-teal-70: #004543;
  --boreal-color-masiv-teal-teal-5: #e8fbfc;
  --boreal-color-masiv-cyan-cyan-90: #05161f;
  --boreal-color-masiv-cyan-cyan-60: #06527a;
  --boreal-color-masiv-cyan-cyan-50: #0a77ba;
  --boreal-color-masiv-cyan-cyan-40: #119aeb;
  --boreal-color-masiv-cyan-cyan-30: #5abefc;
  --boreal-color-masiv-cyan-cyan-10: #c2e9ff;
  --boreal-color-masiv-cyan-cyan-70: #063e59;
  --boreal-color-masiv-cyan-cyan-20: #8ad4ff;
  --boreal-color-masiv-cyan-cyan-5: #ebf9ff;
  --boreal-color-masiv-cyan-cyan-80: #052533;
  --boreal-color-masiv-blue-blue-80: #03204a;
  --boreal-color-masiv-blue-blue-40: #467df7;
  --boreal-color-masiv-blue-blue-90: #03152b;
  --boreal-color-masiv-blue-blue-70: #023075;
  --boreal-color-masiv-blue-blue-30: #7ba9fe;
  --boreal-color-masiv-blue-blue-20: #9ec5ff;
  --boreal-color-masiv-blue-blue-60: #0442ab;
  --boreal-color-masiv-blue-blue-50: #0a5bfc;
  --boreal-color-masiv-blue-blue-10: #d1e4ff;
  --boreal-color-masiv-blue-blue-5: #f0f7ff;
  --boreal-color-masiv-purple-purple-90: #16042a;
  --boreal-color-masiv-purple-purple-80: #29074f;
  --boreal-color-masiv-purple-purple-70: #400c73;
  --boreal-color-masiv-purple-purple-60: #5c1899;
  --boreal-color-masiv-purple-purple-30: #cb80f2;
  --boreal-color-masiv-purple-purple-50: #892cd1;
  --boreal-color-masiv-purple-purple-40: #a751e0;
  --boreal-color-masiv-purple-purple-20: #e698f5;
  --boreal-color-masiv-purple-purple-10: #f7c6f7;
  --boreal-color-masiv-purple-purple-5: #fceefc;
  --boreal-color-masiv-rose-rose-80: #420a28;
  --boreal-color-masiv-rose-rose-60: #8e154f;
  --boreal-color-masiv-rose-rose-50: #bf2367;
  --boreal-color-masiv-rose-rose-90: #220716;
  --boreal-color-masiv-rose-rose-70: #630e39;
  --boreal-color-masiv-rose-rose-5: #fceef7;
  --boreal-color-masiv-rose-rose-40: #db4884;
  --boreal-color-masiv-rose-rose-30: #fb74a7;
  --boreal-color-masiv-rose-rose-20: #ff9ec6;
  --boreal-color-masiv-rose-rose-10: #ffcce4;
  --boreal-color-masiv-red-red-80: #45040e;
  --boreal-color-masiv-red-red-90: #260309;
  --boreal-color-masiv-red-red-50: #c7242b;
  --boreal-color-masiv-red-red-40: #e44e51;
  --boreal-color-masiv-red-red-30: #f87c7e;
  --boreal-color-masiv-red-red-10: #ffd1d1;
  --boreal-color-masiv-red-red-70: #690713;
  --boreal-color-masiv-red-red-60: #94101b;
  --boreal-color-masiv-red-red-20: #ffa3a5;
  --boreal-color-masiv-red-red-5: #fff0f1;
  --boreal-color-masiv-orange-orange-70: #612500;
  --boreal-color-masiv-orange-orange-50: #bc550b;
  --boreal-color-masiv-orange-orange-30: #ffa352;
  --boreal-color-masiv-orange-orange-80: #3e1600;
  --boreal-color-masiv-orange-orange-40: #ec7a22;
  --boreal-color-masiv-orange-orange-20: #ffc88a;
  --boreal-color-masiv-orange-orange-10: #ffe9c7;
  --boreal-color-masiv-orange-orange-90: #240c00;
  --boreal-color-masiv-orange-orange-60: #8a3900;
  --boreal-color-masiv-orange-orange-5: #fff8e6;
  --boreal-color-masiv-yellow-yellow-80: #332200;
  --boreal-color-masiv-yellow-yellow-60: #755100;
  --boreal-color-masiv-yellow-yellow-40: #dba70a;
  --boreal-color-masiv-yellow-yellow-10: #fff5c2;
  --boreal-color-masiv-yellow-yellow-30: #f2c840;
  --boreal-color-masiv-yellow-yellow-90: #1f1300;
  --boreal-color-masiv-yellow-yellow-50: #a37600;
  --boreal-color-masiv-yellow-yellow-20: #ffe180;
  --boreal-color-masiv-yellow-yellow-70: #523800;
  --boreal-color-masiv-yellow-yellow-5: #fffde6;
  --boreal-color-masiv-ink-ink-90: #131316;
  --boreal-color-masiv-ink-ink-70: #272a2f;
  --boreal-color-masiv-ink-ink-60: #3b3f45;
  --boreal-color-masiv-ink-ink-50: #595d64;
  --boreal-color-masiv-ink-ink-30: #b6b8be;
  --boreal-color-masiv-ink-ink-40: #8a8e96;
  --boreal-color-masiv-ink-ink-20: #d3d4d9;
  --boreal-color-masiv-ink-ink-80: #1c1e21;
  --boreal-color-masiv-ink-ink-10: #e3e3e6;
  --boreal-color-masiv-ink-ink-5: #f7f7f8;
  --boreal-color-white: #ffffff;
  --boreal-color-bics-petrol-petrol-3: #007da4;
  --boreal-color-bics-petrol-petrol-4: #33a3c2;
  --boreal-color-bics-petrol-petrol-5: #99cbdd;
  --boreal-color-bics-petrol-petrol-6: #c4e1eb;
  --boreal-color-bics-petrol-petrol-1: #003242;
  --boreal-color-bics-petrol-petrol-2: #005066;
  --boreal-color-bics-petrol-petrol-7: #eaf6fa;
  --boreal-color-bics-ice-ice-3: #4bb7e2;
  --boreal-color-bics-ice-ice-4: #76c7e8;
  --boreal-color-bics-ice-ice-5: #96d6ee;
  --boreal-color-bics-ice-ice-6: #b7e2f3;
  --boreal-color-bics-ice-ice-1: #2d6f89;
  --boreal-color-bics-ice-ice-2: #3894b3;
  --boreal-color-bics-ice-ice-7: #ecf7fb;
  --boreal-color-bics-cobalt-cobalt-3: #143db2;
  --boreal-color-bics-cobalt-cobalt-5: #718ed7;
  --boreal-color-bics-cobalt-cobalt-6: #a1b1e0;
  --boreal-color-bics-cobalt-cobalt-7: #e7ebf8;
  --boreal-color-bics-cobalt-cobalt-1: #10318e;
  --boreal-color-bics-cobalt-cobalt-4: #3b60c5;
  --boreal-color-bics-cobalt-cobalt-2: #1238a1;
  --boreal-color-bics-byzantine-byzantine-3: #2163ce;
  --boreal-color-bics-byzantine-byzantine-4: #4a83d9;
  --boreal-color-bics-byzantine-byzantine-5: #759fe0;
  --boreal-color-bics-byzantine-byzantine-6: #a6c1eb;
  --boreal-color-bics-byzantine-byzantine-2: #153f87;
  --boreal-color-bics-byzantine-byzantine-1: #0c2a5c;
  --boreal-color-bics-byzantine-byzantine-7: #e9f0fb;
  --boreal-color-bics-grey-grey-1: #21363e;
  --boreal-color-bics-grey-grey-2: #37474f;
  --boreal-color-bics-grey-grey-3: #7a8b91;
  --boreal-color-bics-grey-grey-4: #a1adb2;
  --boreal-color-bics-grey-grey-5: #c4cfd4;
  --boreal-color-bics-grey-grey-6: #e0e6e9;
  --boreal-color-bics-grey-grey-7: #f0f1f2;
  --boreal-color-bics-grey-grey-8: #e3e3e6;
  --boreal-color-bics-black-black-1: #1a1a1a;
  --boreal-color-bics-black-black-2: #252525;
  --boreal-color-bics-black-black-3: #333333;
  --boreal-color-bics-black-black-4: #4c4c4c;
  --boreal-color-bics-black-black-5: #7d7d7d;
  --boreal-color-bics-black-black-6: #bfbfbf;
  --boreal-color-bics-black-black-7: #f2f2f2;
  --boreal-color-bics-sea-sea-1: #009977;
  --boreal-color-bics-sea-sea-2: #00aa88;
  --boreal-color-bics-sea-sea-3: #00cc99;
  --boreal-color-bics-sea-sea-4: #33d6ad;
  --boreal-color-bics-sea-sea-5: #66e0c2;
  --boreal-color-bics-sea-sea-6: #99ecd6;
  --boreal-color-bics-sea-sea-7: #e5faf5;
  --boreal-color-bics-success-success-1: #004d00;
  --boreal-color-bics-success-success-2: #006600;
  --boreal-color-bics-success-success-3: #008000;
  --boreal-color-bics-success-success-4: #339933;
  --boreal-color-bics-success-success-5: #66b266;
  --boreal-color-bics-success-success-6: #c0e6c0;
  --boreal-color-bics-success-success-7: #eaf7ea;
  --boreal-color-bics-warning-warning-1: #623400;
  --boreal-color-bics-warning-warning-2: #8a4600;
  --boreal-color-bics-warning-warning-3: #f58221;
  --boreal-color-bics-warning-warning-4: #f89b4c;
  --boreal-color-bics-warning-warning-5: #fab777;
  --boreal-color-bics-warning-warning-6: #fbcda6;
  --boreal-color-bics-warning-warning-7: #fef0e6;
  --boreal-color-bics-error-error-1: #690000;
  --boreal-color-bics-error-error-2: #8a0000;
  --boreal-color-bics-error-error-3: #b30000;
  --boreal-color-bics-error-error-4: #d93c3c;
  --boreal-color-bics-error-error-5: #e58080;
  --boreal-color-bics-error-error-6: #f1c6c6;
  --boreal-color-bics-error-error-7: #faeaea;
  --boreal-color-proximus-onyx-onyx-50: #8d97a4;
  --boreal-color-proximus-onyx-onyx-60: #656e7b;
  --boreal-color-proximus-onyx-onyx-70: #525b67;
  --boreal-color-proximus-onyx-onyx-80: #333c48;
  --boreal-color-proximus-onyx-onyx-40: #adb7c4;
  --boreal-color-proximus-onyx-onyx-30: #d0dae9;
  --boreal-color-proximus-onyx-onyx-20: #e0eaf9;
  --boreal-color-proximus-onyx-onyx-90: #131c26;
  --boreal-color-proximus-onyx-onyx-10: #e9f3ff;
  --boreal-color-proximus-onyx-onyx-5: #f0faff;
  --boreal-color-proximus-cobalt-cobalt-5: #e7e8ff;
  --boreal-color-proximus-cobalt-cobalt-10: #c1c5fe;
  --boreal-color-proximus-cobalt-cobalt-20: #94a0fe;
  --boreal-color-proximus-cobalt-cobalt-30: #5e7aff;
  --boreal-color-proximus-cobalt-cobalt-40: #1f5bff;
  --boreal-color-proximus-cobalt-cobalt-50: #003afb;
  --boreal-color-proximus-cobalt-cobalt-60: #0031ef;
  --boreal-color-proximus-cobalt-cobalt-70: #0025e3;
  --boreal-color-proximus-cobalt-cobalt-80: #0015d9;
  --boreal-color-proximus-cobalt-cobalt-90: #0000bf;
  --boreal-color-proximus-mint-mint-5: #e0faed;
  --boreal-color-proximus-mint-mint-10: #b3f0d1;
  --boreal-color-proximus-mint-mint-20: #7be7b3;
  --boreal-color-proximus-mint-mint-30: #00dd92;
  --boreal-color-proximus-mint-mint-40: #00d47a;
  --boreal-color-proximus-mint-mint-50: #00c964;
  --boreal-color-proximus-mint-mint-60: #00b959;
  --boreal-color-proximus-mint-mint-70: #00a64c;
  --boreal-color-proximus-mint-mint-80: #00943f;
  --boreal-color-proximus-mint-mint-90: #00732a;
  --boreal-spacing-2xs: 4px;
  --boreal-spacing-5xl: 64px;
  --boreal-spacing-s: 12px;
  --boreal-spacing-2xl: 40px;
  --boreal-spacing-3xl: 48px;
  --boreal-spacing-ml: 20px;
  --boreal-spacing-xl: 32px;
  --boreal-spacing-l: 24px;
  --boreal-spacing-m: 16px;
  --boreal-spacing-4xl: 56px;
  --boreal-spacing-3xs: 2px;
  --boreal-spacing-xs: 8px;
  --boreal-spacing-4xs: 1px;
  --boreal-spacing-1xs: 6px;
  --boreal-spacing-6xl: 80px;
  --boreal-spacing-7xl: 96px;
  --boreal-layout-6xl: 160px;
  --boreal-layout-5xl: 120px;
  --boreal-layout-2xl: 64px;
  --boreal-layout-3xl: 80px;
  --boreal-layout-m: 16px;
  --boreal-layout-xl: 48px;
  --boreal-layout-s: 12px;
  --boreal-layout-xs: 8px;
  --boreal-layout-l: 32px;
  --boreal-layout-ml: 24px;
  --boreal-layout-4xl: 96px;
  --boreal-icons-s: 12px;
  --boreal-icons-m: 16px;
  --boreal-icons-l: 20px;
  --boreal-icons-xl: 24px;
  --boreal-radius-full: 360px;
  --boreal-radius-xl: 24px;
  --boreal-radius-m: 12px;
  --boreal-radius-xs2: 2px;
  --boreal-radius-l: 16px;
  --boreal-radius-s: 8px;
  --boreal-radius-xs: 4px;
  --boreal-radius-none: 0px;
}

[data-theme='proximus'] {
  --boreal-accent-dark: #00a64c;
  --boreal-black: #131c26;
  --boreal-accent-light: #7be7b3;
  --boreal-white: #ffffff;
  --boreal-accent-base: #00dd92;
  --boreal-extended-teal-light: var(--boreal-extended-teal-light);
  --boreal-extended-teal-lighter: var(--boreal-extended-teal-lighter);
  --boreal-extended-teal-base: var(--boreal-extended-teal-base);
  --boreal-extended-teal-dark: var(--boreal-extended-teal-dark);
  --boreal-extended-teal-darker: #001a18;
  --boreal-extended-purple-base: var(--boreal-extended-purple-base);
  --boreal-extended-purple-dark: var(--boreal-extended-purple-dark);
  --boreal-extended-orange-base: var(--boreal-extended-orange-base);
  --boreal-extended-purple-light: var(--boreal-extended-purple-light);
  --boreal-extended-orange-darker: var(--boreal-extended-orange-darker);
  --boreal-extended-orange-lighter: var(--boreal-extended-orange-lighter);
  --boreal-extended-orange-dark: var(--boreal-extended-orange-dark);
  --boreal-extended-orange-light: var(--boreal-extended-orange-light);
  --boreal-extended-purple-lighter: var(--boreal-extended-purple-lighter);
  --boreal-extended-purple-darker: var(--boreal-extended-purple-darker);
  --boreal-extended-cyan-lighter: var(--boreal-extended-cyan-lighter);
  --boreal-extended-cyan-light: var(--boreal-extended-cyan-light);
  --boreal-extended-cyan-base: var(--boreal-extended-cyan-base);
  --boreal-extended-cyan-dark: var(--boreal-extended-cyan-dark);
  --boreal-extended-cyan-darker: var(--boreal-extended-cyan-darker);
  --boreal-extended-lime-dark: var(--boreal-extended-lime-dark);
  --boreal-extended-lime-base: var(--boreal-extended-lime-base);
  --boreal-extended-lime-darker: var(--boreal-extended-lime-darker);
  --boreal-extended-lime-light: var(--boreal-extended-lime-light);
  --boreal-extended-lime-lighter: var(--boreal-extended-lime-lighter);
  --boreal-extended-cobalt-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-extended-cobalt-light: var(--boreal-extended-cobalt-light);
  --boreal-extended-cobalt-base: var(--boreal-extended-cobalt-base);
  --boreal-extended-cobalt-dark: var(--boreal-extended-cobalt-dark);
  --boreal-extended-cobalt-darker: var(--boreal-extended-cobalt-darker);
  --boreal-extended-onyx-lighter: var(--boreal-extended-onyx-lighter);
  --boreal-extended-onyx-light: var(--boreal-extended-onyx-light);
  --boreal-extended-onyx-base: var(--boreal-extended-onyx-base);
  --boreal-extended-onyx-dark: var(--boreal-extended-onyx-dark);
  --boreal-extended-onyx-darker: var(--boreal-extended-onyx-darker);
  --boreal-extended-rose-lighter: var(--boreal-extended-rose-lighter);
  --boreal-extended-rose-light: var(--boreal-extended-rose-light);
  --boreal-extended-rose-base: var(--boreal-extended-rose-base);
  --boreal-extended-rose-dark: var(--boreal-extended-rose-dark);
  --boreal-extended-rose-darker: var(--boreal-extended-rose-darker);
  --boreal-neutral-600: #656e7b;
  --boreal-information-lighter: #f0f7ff;
  --boreal-information-light: #9ec5ff;
  --boreal-success-lighter: #eefbf4;
  --boreal-information-base: #0a5bfc;
  --boreal-neutral-900: #131c26;
  --boreal-information-dark: #023075;
  --boreal-neutral-400: #adb7c4;
  --boreal-warning-base: #f2c840;
  --boreal-neutral-700: #525b67;
  --boreal-warning-dark: #523800;
  --boreal-warning-darker: #1f1300;
  --boreal-warning-light: #ffe180;
  --boreal-focus: #9ec5ff;
  --boreal-success-light: #96deb2;
  --boreal-neutral-50: #f0faff;
  --boreal-success-base: #24a852;
  --boreal-primary-dark: #003afb;
  --boreal-danger-darker: #260309;
  --boreal-primary-darker: #0000bf;
  --boreal-danger-dark: #690713;
  --boreal-base-alt: #131c26;
  --boreal-neutral-300: #d0dae9;
  --boreal-danger-lighter: #fff0f1;
  --boreal-base-lighter: #ffffff;
  --boreal-danger-light: #ffa3a5;
  --boreal-accent-lighter: #e0faed;
  --boreal-success-dark: #004a18;
  --boreal-neutral-25: #f0faff;
  --boreal-accent-darker: #00732a;
  --boreal-neutral-200: #e0eaf9;
  --boreal-warning-lighter: #fffde6;
  --boreal-success-darker: #001b07;
  --boreal-primary-base: #1f5bff;
  --boreal-information-darker: #03152b;
  --boreal-neutral-500: #8d97a4;
  --boreal-neutral-100: #e9f3ff;
  --boreal-danger-base: #c7242b;
  --boreal-neutral-800: #333c48;
  --boreal-base-light: #f0faff;
  --boreal-primary-light: #c1c5fe;
  --boreal-primary-lighter: #e7e8ff;
  --boreal-base-dark: #e9f3ff;
  --boreal-base-darker: #e0eaf9;
  --boreal-user-base: #e7e8ff;
  --boreal-bg-overlay: #131c26;
  --boreal-bg-inverse: #ffffff;
  --boreal-bg-primary-darker: #0000bf;
  --boreal-bg-default: #f0faff;
  --boreal-bg-primary: #1f5bff;
  --boreal-bg-neutral: #525b67;
  --boreal-text-success: #24a852;
  --boreal-text-danger: #c7242b;
  --boreal-text-default-darker: #131c26;
  --boreal-text-information: #0a5bfc;
  --boreal-text-accent: #00dd92;
  --boreal-text-default: #525b67;
  --boreal-text-default-light: #adb7c4;
  --boreal-text-inverse: #ffffff;
  --boreal-text-warning: #f2c840;
  --boreal-text-disabled: #d0dae9;
  --boreal-text-primary: #1f5bff;
  --boreal-text-danger-dark: #690713;
  --boreal-text-success-dark: #004a18;
  --boreal-text-information-dark: #03152b;
  --boreal-text-warning-light: #ffe180;
  --boreal-text-danger-light: #ffa3a5;
  --boreal-text-success-light: #96deb2;
  --boreal-text-information-light: #9ec5ff;
  --boreal-text-warning-dark: #1f1300;
  --boreal-text-base: #131c26;
  --boreal-text-primary-light: #c1c5fe;
  --boreal-text-primary-dark: #003afb;
  --boreal-ui-default: #ffffff;
  --boreal-ui-inverse: #ffffff;
  --boreal-ui-accent: #00dd92;
  --boreal-ui-black-light: #8d97a4;
  --boreal-ui-base: #131c26;
  --boreal-ui-base-light: #f0faff;
  --boreal-ui-disabled: #f0faff;
  --boreal-ui-info-light: #9ec5ff;
  --boreal-ui-success-light: #96deb2;
  --boreal-ui-success: #24a852;
  --boreal-ui-black: #131c26;
  --boreal-ui-danger-light: #ffa3a5;
  --boreal-ui-primary-lighter: #e7e8ff;
  --boreal-ui-danger: #c7242b;
  --boreal-ui-info: #0a5bfc;
  --boreal-ui-primary: #1f5bff;
  --boreal-ui-primary-light: #c1c5fe;
  --boreal-ui-primary-dark: #003afb;
  --boreal-ui-warning: #f2c840;
  --boreal-ui-success-lighter: #eefbf4;
  --boreal-ui-danger-lighter: #fff0f1;
  --boreal-ui-info-lighter: #f0f7ff;
  --boreal-ui-warning-light: #ffe180;
  --boreal-ui-warning-lighter: #fffde6;
  --boreal-ui-base-lighter: #ffffff;
  --boreal-ui-default-dark: #e9f3ff;
  --boreal-ui-success-dark: #004a18;
  --boreal-ui-danger-dark: #690713;
  --boreal-ui-info-dark: #03152b;
  --boreal-ui-warning-dark: #1f1300;
  --boreal-ui-default-light: #f0faff;
  --boreal-icon-info-dark: #03152b;
  --boreal-icon-default-lighter: #e0eaf9;
  --boreal-icon-default-light: #d0dae9;
  --boreal-icon-default: #525b67;
  --boreal-icon-success: #24a852;
  --boreal-icon-inverse: #ffffff;
  --boreal-icon-warning: #f2c840;
  --boreal-icon-accent: #00dd92;
  --boreal-icon-danger: #c7242b;
  --boreal-icon-base: #131c26;
  --boreal-icon-primary: #1f5bff;
  --boreal-icon-success-dark: #004a18;
  --boreal-icon-warning-dark: #1f1300;
  --boreal-icon-danger-dark: #690713;
  --boreal-icon-info: #0a5bfc;
  --boreal-icon-info-light: #9ec5ff;
  --boreal-icon-success-light: #96deb2;
  --boreal-icon-warning-light: #ffe180;
  --boreal-icon-danger-light: #ffa3a5;
  --boreal-icon-disabled: #d0dae9;
  --boreal-icon-primary-light: #c1c5fe;
  --boreal-icon-primary-dark: #003afb;
  --boreal-icon-user: #e7e8ff;
  --boreal-alpha-black-50: #272a2f80;
  --boreal-alpha-black-25: #272a2f40;
  --boreal-alpha-white-50: #ffffff80;
  --boreal-alpha-white-25: #ffffff40;
  --boreal-alpha-white-10: #ffffff1a;
  --boreal-alpha-white-75: #ffffffbf;
  --boreal-alpha-white-85: #ffffffd9;
  --boreal-alpha-white-90: #ffffffe6;
  --boreal-alpha-white-95: #ffffffe6;
  --boreal-alpha-white-80: #ffffffcc;
  --boreal-alpha-white-55: #ffffff8c;
  --boreal-alpha-black-5: #272a2f0d;
  --boreal-alpha-black-10: #272a2f1a;
  --boreal-extended-tael-darker: var(--boreal-extended-teal-darker);
  --boreal-stroke-warning: #f2c840;
  --boreal-stroke-inverse: #ffffff;
  --boreal-stroke-info: #0a5bfc;
  --boreal-stroke-success: #24a852;
  --boreal-stroke-default-dark: #e9f3ff;
  --boreal-stroke-default-light: #f0faff;
  --boreal-stroke-default: #131c26;
  --boreal-stroke-focus: #9ec5ff;
  --boreal-stroke-danger: #c7242b;
  --boreal-stroke-accent: #00dd92;
  --boreal-stroke-primary: #1f5bff;
  --boreal-stroke-primary-light: #c1c5fe;
  --boreal-stroke-primary-dark: #003afb;
  --boreal-stroke-info-light: #9ec5ff;
  --boreal-stroke-info-dark: #03152b;
  --boreal-stroke-success-light: #96deb2;
  --boreal-stroke-success-dark: #004a18;
  --boreal-stroke-warning-light: #ffe180;
  --boreal-stroke-warning-dark: #1f1300;
  --boreal-stroke-danger-light: #ffa3a5;
  --boreal-stroke-danger-dark: #690713;
}

[data-theme='masiv'] {
  --boreal-accent-dark: #630e39;
  --boreal-black: #131316;
  --boreal-accent-light: #ff9ec6;
  --boreal-white: #ffffff;
  --boreal-accent-base: #bf2367;
  --boreal-extended-teal-light: var(--boreal-extended-teal-light);
  --boreal-extended-teal-lighter: var(--boreal-extended-teal-lighter);
  --boreal-extended-teal-base: var(--boreal-extended-teal-base);
  --boreal-extended-teal-dark: var(--boreal-extended-teal-dark);
  --boreal-extended-teal-darker: #001a18;
  --boreal-extended-purple-base: var(--boreal-extended-purple-base);
  --boreal-extended-purple-dark: var(--boreal-extended-purple-dark);
  --boreal-extended-orange-base: var(--boreal-extended-orange-base);
  --boreal-extended-purple-light: var(--boreal-extended-purple-light);
  --boreal-extended-orange-darker: var(--boreal-extended-orange-darker);
  --boreal-extended-orange-lighter: var(--boreal-extended-orange-lighter);
  --boreal-extended-orange-dark: var(--boreal-extended-orange-dark);
  --boreal-extended-orange-light: var(--boreal-extended-orange-light);
  --boreal-extended-purple-lighter: var(--boreal-extended-purple-lighter);
  --boreal-extended-purple-darker: var(--boreal-extended-purple-darker);
  --boreal-extended-cyan-lighter: var(--boreal-extended-cyan-lighter);
  --boreal-extended-cyan-light: var(--boreal-extended-cyan-light);
  --boreal-extended-cyan-base: var(--boreal-extended-cyan-base);
  --boreal-extended-cyan-dark: var(--boreal-extended-cyan-dark);
  --boreal-extended-cyan-darker: var(--boreal-extended-cyan-darker);
  --boreal-extended-lime-dark: var(--boreal-extended-lime-dark);
  --boreal-extended-lime-base: var(--boreal-extended-lime-base);
  --boreal-extended-lime-darker: var(--boreal-extended-lime-darker);
  --boreal-extended-lime-light: var(--boreal-extended-lime-light);
  --boreal-extended-lime-lighter: var(--boreal-extended-lime-lighter);
  --boreal-extended-cobalt-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-extended-cobalt-light: var(--boreal-extended-cobalt-light);
  --boreal-extended-cobalt-base: var(--boreal-extended-cobalt-base);
  --boreal-extended-cobalt-dark: var(--boreal-extended-cobalt-dark);
  --boreal-extended-cobalt-darker: var(--boreal-extended-cobalt-darker);
  --boreal-extended-onyx-lighter: var(--boreal-extended-onyx-lighter);
  --boreal-extended-onyx-light: var(--boreal-extended-onyx-light);
  --boreal-extended-onyx-base: var(--boreal-extended-onyx-base);
  --boreal-extended-onyx-dark: var(--boreal-extended-onyx-dark);
  --boreal-extended-onyx-darker: var(--boreal-extended-onyx-darker);
  --boreal-extended-rose-lighter: var(--boreal-extended-rose-lighter);
  --boreal-extended-rose-light: var(--boreal-extended-rose-light);
  --boreal-extended-rose-base: var(--boreal-extended-rose-base);
  --boreal-extended-rose-dark: var(--boreal-extended-rose-dark);
  --boreal-extended-rose-darker: var(--boreal-extended-rose-darker);
  --boreal-neutral-600: #3b3f45;
  --boreal-information-lighter: #f0f7ff;
  --boreal-information-light: #9ec5ff;
  --boreal-success-lighter: #eefbf4;
  --boreal-information-base: #0a5bfc;
  --boreal-neutral-900: #131316;
  --boreal-information-dark: #023075;
  --boreal-neutral-400: #8a8e96;
  --boreal-warning-base: #f2c840;
  --boreal-neutral-700: #272a2f;
  --boreal-warning-dark: #523800;
  --boreal-warning-darker: #1f1300;
  --boreal-warning-light: #ffe180;
  --boreal-focus: #9ec5ff;
  --boreal-success-light: #96deb2;
  --boreal-neutral-50: #f7f7f8;
  --boreal-success-base: #24a852;
  --boreal-primary-dark: #023075;
  --boreal-danger-darker: #260309;
  --boreal-primary-darker: #03152b;
  --boreal-danger-dark: #690713;
  --boreal-base-alt: #272a2f;
  --boreal-neutral-300: #b6b8be;
  --boreal-danger-lighter: #fff0f1;
  --boreal-base-lighter: #ffffff;
  --boreal-danger-light: #ffa3a5;
  --boreal-accent-lighter: #fceef7;
  --boreal-success-dark: #004a18;
  --boreal-neutral-25: #f7f7f8;
  --boreal-accent-darker: #220716;
  --boreal-neutral-200: #d3d4d9;
  --boreal-warning-lighter: #fffde6;
  --boreal-success-darker: #001b07;
  --boreal-primary-base: #0a5bfc;
  --boreal-information-darker: #03152b;
  --boreal-neutral-500: #595d64;
  --boreal-neutral-100: #e3e3e6;
  --boreal-danger-base: #c7242b;
  --boreal-neutral-800: #1c1e21;
  --boreal-base-light: #e3e3e6;
  --boreal-primary-light: #9ec5ff;
  --boreal-primary-lighter: #f0f7ff;
  --boreal-base-dark: #e3e3e6;
  --boreal-base-darker: #e3e3e6;
  --boreal-user-base: #24a852;
  --boreal-bg-overlay: #131316;
  --boreal-bg-inverse: #ffffff;
  --boreal-bg-primary-darker: #03152b;
  --boreal-bg-default: #f7f7f8;
  --boreal-bg-primary: #0a5bfc;
  --boreal-bg-neutral: #272a2f;
  --boreal-text-success: #24a852;
  --boreal-text-danger: #c7242b;
  --boreal-text-default-darker: #131316;
  --boreal-text-information: #0a5bfc;
  --boreal-text-accent: #bf2367;
  --boreal-text-default: #272a2f;
  --boreal-text-default-light: #8a8e96;
  --boreal-text-inverse: #ffffff;
  --boreal-text-warning: #f2c840;
  --boreal-text-disabled: #b6b8be;
  --boreal-text-primary: #0a5bfc;
  --boreal-text-danger-dark: #690713;
  --boreal-text-success-dark: #004a18;
  --boreal-text-information-dark: #03152b;
  --boreal-text-warning-light: #ffe180;
  --boreal-text-danger-light: #ffa3a5;
  --boreal-text-success-light: #96deb2;
  --boreal-text-information-light: #9ec5ff;
  --boreal-text-warning-dark: #1f1300;
  --boreal-text-base: #272a2f;
  --boreal-text-primary-light: #9ec5ff;
  --boreal-text-primary-dark: #023075;
  --boreal-ui-default: #ffffff;
  --boreal-ui-inverse: #ffffff;
  --boreal-ui-accent: #bf2367;
  --boreal-ui-black-light: #595d64;
  --boreal-ui-base: #272a2f;
  --boreal-ui-base-light: #e3e3e6;
  --boreal-ui-disabled: #f7f7f8;
  --boreal-ui-info-light: #9ec5ff;
  --boreal-ui-success-light: #96deb2;
  --boreal-ui-success: #24a852;
  --boreal-ui-black: #131316;
  --boreal-ui-danger-light: #ffa3a5;
  --boreal-ui-primary-lighter: #f0f7ff;
  --boreal-ui-danger: #c7242b;
  --boreal-ui-info: #0a5bfc;
  --boreal-ui-primary: #0a5bfc;
  --boreal-ui-primary-light: #9ec5ff;
  --boreal-ui-primary-dark: #023075;
  --boreal-ui-warning: #f2c840;
  --boreal-ui-success-lighter: #eefbf4;
  --boreal-ui-danger-lighter: #fff0f1;
  --boreal-ui-info-lighter: #f0f7ff;
  --boreal-ui-warning-light: #ffe180;
  --boreal-ui-warning-lighter: #fffde6;
  --boreal-ui-base-lighter: #ffffff;
  --boreal-ui-default-dark: #e3e3e6;
  --boreal-ui-success-dark: #004a18;
  --boreal-ui-danger-dark: #690713;
  --boreal-ui-info-dark: #03152b;
  --boreal-ui-warning-dark: #1f1300;
  --boreal-ui-default-light: #e3e3e6;
  --boreal-icon-info-dark: #03152b;
  --boreal-icon-default-lighter: #d3d4d9;
  --boreal-icon-default-light: #b6b8be;
  --boreal-icon-default: #272a2f;
  --boreal-icon-success: #24a852;
  --boreal-icon-inverse: #ffffff;
  --boreal-icon-warning: #f2c840;
  --boreal-icon-accent: #bf2367;
  --boreal-icon-danger: #c7242b;
  --boreal-icon-base: #272a2f;
  --boreal-icon-primary: #0a5bfc;
  --boreal-icon-success-dark: #004a18;
  --boreal-icon-warning-dark: #1f1300;
  --boreal-icon-danger-dark: #690713;
  --boreal-icon-info: #0a5bfc;
  --boreal-icon-info-light: #9ec5ff;
  --boreal-icon-success-light: #96deb2;
  --boreal-icon-warning-light: #ffe180;
  --boreal-icon-danger-light: #ffa3a5;
  --boreal-icon-disabled: #b6b8be;
  --boreal-icon-primary-light: #9ec5ff;
  --boreal-icon-primary-dark: #023075;
  --boreal-icon-user: #24a852;
  --boreal-alpha-black-50: #272a2f80;
  --boreal-alpha-black-25: #272a2f40;
  --boreal-alpha-white-50: #ffffff80;
  --boreal-alpha-white-25: #ffffff40;
  --boreal-alpha-white-10: #ffffff1a;
  --boreal-alpha-white-75: #ffffffbf;
  --boreal-alpha-white-85: #ffffffd9;
  --boreal-alpha-white-90: #ffffffe6;
  --boreal-alpha-white-95: #ffffffe6;
  --boreal-alpha-white-80: #ffffffcc;
  --boreal-alpha-white-55: #ffffff8c;
  --boreal-alpha-black-5: #272a2f0d;
  --boreal-alpha-black-10: #272a2f1a;
  --boreal-extended-tael-darker: var(--boreal-extended-teal-darker);
  --boreal-stroke-warning: #f2c840;
  --boreal-stroke-inverse: #ffffff;
  --boreal-stroke-info: #0a5bfc;
  --boreal-stroke-success: #24a852;
  --boreal-stroke-default-dark: #e3e3e6;
  --boreal-stroke-default-light: #e3e3e6;
  --boreal-stroke-default: #272a2f;
  --boreal-stroke-focus: #9ec5ff;
  --boreal-stroke-danger: #c7242b;
  --boreal-stroke-accent: #bf2367;
  --boreal-stroke-primary: #0a5bfc;
  --boreal-stroke-primary-light: #9ec5ff;
  --boreal-stroke-primary-dark: #023075;
  --boreal-stroke-info-light: #9ec5ff;
  --boreal-stroke-info-dark: #03152b;
  --boreal-stroke-success-light: #96deb2;
  --boreal-stroke-success-dark: #004a18;
  --boreal-stroke-warning-light: #ffe180;
  --boreal-stroke-warning-dark: #1f1300;
  --boreal-stroke-danger-light: #ffa3a5;
  --boreal-stroke-danger-dark: #690713;
}

[data-theme='telesign'] {
  --boreal-accent-dark: #0025e3;
  --boreal-black: #0e0e2c;
  --boreal-accent-light: #e7e8ff;
  --boreal-white: #ffffff;
  --boreal-accent-base: #1f5bff;
  --boreal-extended-teal-light: var(--boreal-extended-teal-light);
  --boreal-extended-teal-lighter: var(--boreal-extended-teal-lighter);
  --boreal-extended-teal-base: var(--boreal-extended-teal-base);
  --boreal-extended-teal-dark: var(--boreal-extended-teal-dark);
  --boreal-extended-teal-darker: #001a18;
  --boreal-extended-purple-base: var(--boreal-extended-purple-base);
  --boreal-extended-purple-dark: var(--boreal-extended-purple-dark);
  --boreal-extended-orange-base: var(--boreal-extended-orange-base);
  --boreal-extended-purple-light: var(--boreal-extended-purple-light);
  --boreal-extended-orange-darker: var(--boreal-extended-orange-darker);
  --boreal-extended-orange-lighter: var(--boreal-extended-orange-lighter);
  --boreal-extended-orange-dark: var(--boreal-extended-orange-dark);
  --boreal-extended-orange-light: var(--boreal-extended-orange-light);
  --boreal-extended-purple-lighter: var(--boreal-extended-purple-lighter);
  --boreal-extended-purple-darker: var(--boreal-extended-purple-darker);
  --boreal-extended-cyan-lighter: var(--boreal-extended-cyan-lighter);
  --boreal-extended-cyan-light: var(--boreal-extended-cyan-light);
  --boreal-extended-cyan-base: var(--boreal-extended-cyan-base);
  --boreal-extended-cyan-dark: var(--boreal-extended-cyan-dark);
  --boreal-extended-cyan-darker: var(--boreal-extended-cyan-darker);
  --boreal-extended-lime-dark: var(--boreal-extended-lime-dark);
  --boreal-extended-lime-base: var(--boreal-extended-lime-base);
  --boreal-extended-lime-darker: var(--boreal-extended-lime-darker);
  --boreal-extended-lime-light: var(--boreal-extended-lime-light);
  --boreal-extended-lime-lighter: var(--boreal-extended-lime-lighter);
  --boreal-extended-cobalt-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-extended-cobalt-light: var(--boreal-extended-cobalt-light);
  --boreal-extended-cobalt-base: var(--boreal-extended-cobalt-base);
  --boreal-extended-cobalt-dark: var(--boreal-extended-cobalt-dark);
  --boreal-extended-cobalt-darker: var(--boreal-extended-cobalt-darker);
  --boreal-extended-onyx-lighter: var(--boreal-extended-onyx-lighter);
  --boreal-extended-onyx-light: var(--boreal-extended-onyx-light);
  --boreal-extended-onyx-base: var(--boreal-extended-onyx-base);
  --boreal-extended-onyx-dark: var(--boreal-extended-onyx-dark);
  --boreal-extended-onyx-darker: var(--boreal-extended-onyx-darker);
  --boreal-extended-rose-lighter: var(--boreal-extended-rose-lighter);
  --boreal-extended-rose-light: var(--boreal-extended-rose-light);
  --boreal-extended-rose-base: var(--boreal-extended-rose-base);
  --boreal-extended-rose-dark: var(--boreal-extended-rose-dark);
  --boreal-extended-rose-darker: var(--boreal-extended-rose-darker);
  --boreal-neutral-600: #57576b;
  --boreal-information-lighter: #dff6ff;
  --boreal-information-light: #9ee8ff;
  --boreal-success-lighter: #e7f9e9;
  --boreal-information-base: #077392;
  --boreal-neutral-900: #0e0e2c;
  --boreal-information-dark: #034d63;
  --boreal-neutral-400: #9e9eab;
  --boreal-warning-base: #ffa244;
  --boreal-neutral-700: #3d3d57;
  --boreal-warning-dark: #5c280a;
  --boreal-warning-darker: #2c1107;
  --boreal-warning-light: #ffd092;
  --boreal-focus: #1f5bff4d;
  --boreal-success-light: #9fe4a4;
  --boreal-neutral-50: #f4f7f9;
  --boreal-success-base: #00b733;
  --boreal-primary-dark: #001287;
  --boreal-danger-darker: #430513;
  --boreal-primary-darker: #000d61;
  --boreal-danger-dark: #720820;
  --boreal-base-alt: #011ac2;
  --boreal-neutral-300: #b7b7c0;
  --boreal-danger-lighter: #ffebf1;
  --boreal-base-lighter: #f9f9fd;
  --boreal-danger-light: #f399a5;
  --boreal-accent-lighter: #f9f9ff;
  --boreal-success-dark: #006611;
  --boreal-neutral-25: #f9f9fd;
  --boreal-accent-darker: #0000bc;
  --boreal-neutral-200: #dddde2;
  --boreal-warning-lighter: #fff4e4;
  --boreal-success-darker: #002900;
  --boreal-primary-base: #011ac2;
  --boreal-information-darker: #022631;
  --boreal-neutral-500: #8c8ca1;
  --boreal-neutral-100: #e9eaec;
  --boreal-danger-base: #df1b42;
  --boreal-neutral-800: #262640;
  --boreal-base-light: #e5e8f9;
  --boreal-primary-light: #99a3e8;
  --boreal-primary-lighter: #f9f9fd;
  --boreal-base-dark: #99a3e8;
  --boreal-base-darker: #6675d9;
  --boreal-user-base: #3347cf;
  --boreal-bg-overlay: #0e0e2c;
  --boreal-bg-inverse: #ffffff;
  --boreal-bg-primary-darker: #000d61;
  --boreal-bg-default: #f9f9fd;
  --boreal-bg-primary: #011ac2;
  --boreal-bg-neutral: #3d3d57;
  --boreal-text-success: #00b733;
  --boreal-text-danger: #df1b42;
  --boreal-text-default-darker: #0e0e2c;
  --boreal-text-information: #077392;
  --boreal-text-accent: #1f5bff;
  --boreal-text-default: #3d3d57;
  --boreal-text-default-light: #9e9eab;
  --boreal-text-inverse: #ffffff;
  --boreal-text-warning: #ffa244;
  --boreal-text-disabled: #b7b7c0;
  --boreal-text-primary: #011ac2;
  --boreal-text-danger-dark: #720820;
  --boreal-text-success-dark: #006611;
  --boreal-text-information-dark: #022631;
  --boreal-text-warning-light: #ffd092;
  --boreal-text-danger-light: #f399a5;
  --boreal-text-success-light: #9fe4a4;
  --boreal-text-information-light: #9ee8ff;
  --boreal-text-warning-dark: #2c1107;
  --boreal-text-base: #011ac2;
  --boreal-text-primary-light: #99a3e8;
  --boreal-text-primary-dark: #001287;
  --boreal-ui-default: #ffffff;
  --boreal-ui-inverse: #ffffff;
  --boreal-ui-accent: #1f5bff;
  --boreal-ui-black-light: #8c8ca1;
  --boreal-ui-base: #011ac2;
  --boreal-ui-base-light: #e5e8f9;
  --boreal-ui-disabled: #f4f7f9;
  --boreal-ui-info-light: #9ee8ff;
  --boreal-ui-success-light: #9fe4a4;
  --boreal-ui-success: #00b733;
  --boreal-ui-black: #0e0e2c;
  --boreal-ui-danger-light: #f399a5;
  --boreal-ui-primary-lighter: #f9f9fd;
  --boreal-ui-danger: #df1b42;
  --boreal-ui-info: #077392;
  --boreal-ui-primary: #011ac2;
  --boreal-ui-primary-light: #99a3e8;
  --boreal-ui-primary-dark: #001287;
  --boreal-ui-warning: #ffa244;
  --boreal-ui-success-lighter: #e7f9e9;
  --boreal-ui-danger-lighter: #ffebf1;
  --boreal-ui-info-lighter: #dff6ff;
  --boreal-ui-warning-light: #ffd092;
  --boreal-ui-warning-lighter: #fff4e4;
  --boreal-ui-base-lighter: #f9f9fd;
  --boreal-ui-default-dark: #99a3e8;
  --boreal-ui-success-dark: #006611;
  --boreal-ui-danger-dark: #720820;
  --boreal-ui-info-dark: #022631;
  --boreal-ui-warning-dark: #2c1107;
  --boreal-ui-default-light: #e5e8f9;
  --boreal-icon-info-dark: #022631;
  --boreal-icon-default-lighter: #dddde2;
  --boreal-icon-default-light: #b7b7c0;
  --boreal-icon-default: #3d3d57;
  --boreal-icon-success: #00b733;
  --boreal-icon-inverse: #ffffff;
  --boreal-icon-warning: #ffa244;
  --boreal-icon-accent: #1f5bff;
  --boreal-icon-danger: #df1b42;
  --boreal-icon-base: #011ac2;
  --boreal-icon-primary: #011ac2;
  --boreal-icon-success-dark: #006611;
  --boreal-icon-warning-dark: #2c1107;
  --boreal-icon-danger-dark: #720820;
  --boreal-icon-info: #077392;
  --boreal-icon-info-light: #9ee8ff;
  --boreal-icon-success-light: #9fe4a4;
  --boreal-icon-warning-light: #ffd092;
  --boreal-icon-danger-light: #f399a5;
  --boreal-icon-disabled: #b7b7c0;
  --boreal-icon-primary-light: #99a3e8;
  --boreal-icon-primary-dark: #001287;
  --boreal-icon-user: #3347cf;
  --boreal-alpha-black-50: #272a2f80;
  --boreal-alpha-black-25: #272a2f40;
  --boreal-alpha-white-50: #ffffff80;
  --boreal-alpha-white-25: #ffffff40;
  --boreal-alpha-white-10: #ffffff1a;
  --boreal-alpha-white-75: #ffffffbf;
  --boreal-alpha-white-85: #ffffffd9;
  --boreal-alpha-white-90: #ffffffe6;
  --boreal-alpha-white-95: #ffffffe6;
  --boreal-alpha-white-80: #ffffffcc;
  --boreal-alpha-white-55: #ffffff8c;
  --boreal-alpha-black-5: #272a2f0d;
  --boreal-alpha-black-10: #272a2f1a;
  --boreal-extended-tael-darker: var(--boreal-extended-teal-darker);
  --boreal-stroke-warning: #ffa244;
  --boreal-stroke-inverse: #ffffff;
  --boreal-stroke-info: #077392;
  --boreal-stroke-success: #00b733;
  --boreal-stroke-default-dark: #99a3e8;
  --boreal-stroke-default-light: #e5e8f9;
  --boreal-stroke-default: #011ac2;
  --boreal-stroke-focus: #1f5bff4d;
  --boreal-stroke-danger: #df1b42;
  --boreal-stroke-accent: #1f5bff;
  --boreal-stroke-primary: #011ac2;
  --boreal-stroke-primary-light: #99a3e8;
  --boreal-stroke-primary-dark: #001287;
  --boreal-stroke-info-light: #9ee8ff;
  --boreal-stroke-info-dark: #022631;
  --boreal-stroke-success-light: #9fe4a4;
  --boreal-stroke-success-dark: #006611;
  --boreal-stroke-warning-light: #ffd092;
  --boreal-stroke-warning-dark: #2c1107;
  --boreal-stroke-danger-light: #f399a5;
  --boreal-stroke-danger-dark: #720820;
}

[data-theme='bics'] {
  --boreal-accent-dark: #153f87;
  --boreal-black: #1a1a1a;
  --boreal-accent-light: #759fe0;
  --boreal-white: #ffffff;
  --boreal-accent-base: #2163ce;
  --boreal-extended-teal-light: var(--boreal-extended-teal-light);
  --boreal-extended-teal-lighter: var(--boreal-extended-teal-lighter);
  --boreal-extended-teal-base: var(--boreal-extended-teal-base);
  --boreal-extended-teal-dark: var(--boreal-extended-teal-dark);
  --boreal-extended-teal-darker: #001a18;
  --boreal-extended-purple-base: var(--boreal-extended-purple-base);
  --boreal-extended-purple-dark: var(--boreal-extended-purple-dark);
  --boreal-extended-orange-base: var(--boreal-extended-orange-base);
  --boreal-extended-purple-light: var(--boreal-extended-purple-light);
  --boreal-extended-orange-darker: var(--boreal-extended-orange-darker);
  --boreal-extended-orange-lighter: var(--boreal-extended-orange-lighter);
  --boreal-extended-orange-dark: var(--boreal-extended-orange-dark);
  --boreal-extended-orange-light: var(--boreal-extended-orange-light);
  --boreal-extended-purple-lighter: var(--boreal-extended-purple-lighter);
  --boreal-extended-purple-darker: var(--boreal-extended-purple-darker);
  --boreal-extended-cyan-lighter: var(--boreal-extended-cyan-lighter);
  --boreal-extended-cyan-light: var(--boreal-extended-cyan-light);
  --boreal-extended-cyan-base: var(--boreal-extended-cyan-base);
  --boreal-extended-cyan-dark: var(--boreal-extended-cyan-dark);
  --boreal-extended-cyan-darker: var(--boreal-extended-cyan-darker);
  --boreal-extended-lime-dark: var(--boreal-extended-lime-dark);
  --boreal-extended-lime-base: var(--boreal-extended-lime-base);
  --boreal-extended-lime-darker: var(--boreal-extended-lime-darker);
  --boreal-extended-lime-light: var(--boreal-extended-lime-light);
  --boreal-extended-lime-lighter: var(--boreal-extended-lime-lighter);
  --boreal-extended-cobalt-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-extended-cobalt-light: var(--boreal-extended-cobalt-light);
  --boreal-extended-cobalt-base: var(--boreal-extended-cobalt-base);
  --boreal-extended-cobalt-dark: var(--boreal-extended-cobalt-dark);
  --boreal-extended-cobalt-darker: var(--boreal-extended-cobalt-darker);
  --boreal-extended-onyx-lighter: var(--boreal-extended-onyx-lighter);
  --boreal-extended-onyx-light: var(--boreal-extended-onyx-light);
  --boreal-extended-onyx-base: var(--boreal-extended-onyx-base);
  --boreal-extended-onyx-dark: var(--boreal-extended-onyx-dark);
  --boreal-extended-onyx-darker: var(--boreal-extended-onyx-darker);
  --boreal-extended-rose-lighter: var(--boreal-extended-rose-lighter);
  --boreal-extended-rose-light: var(--boreal-extended-rose-light);
  --boreal-extended-rose-base: var(--boreal-extended-rose-base);
  --boreal-extended-rose-dark: var(--boreal-extended-rose-dark);
  --boreal-extended-rose-darker: var(--boreal-extended-rose-darker);
  --boreal-neutral-600: #4c4c4c;
  --boreal-information-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-information-light: var(--boreal-extended-cobalt-light);
  --boreal-success-lighter: #eaf7ea;
  --boreal-information-base: var(--boreal-extended-cobalt-base);
  --boreal-neutral-900: #1a1a1a;
  --boreal-information-dark: var(--boreal-extended-cobalt-dark);
  --boreal-neutral-400: #a1adb2;
  --boreal-warning-base: #f89b4c;
  --boreal-neutral-700: #333333;
  --boreal-warning-dark: #8a4600;
  --boreal-warning-darker: #623400;
  --boreal-warning-light: #fab777;
  --boreal-focus: #3b60c54d;
  --boreal-success-light: #c0e6c0;
  --boreal-neutral-50: #f2f2f2;
  --boreal-success-base: #339933;
  --boreal-primary-dark: #005066;
  --boreal-danger-darker: #690000;
  --boreal-primary-darker: #003242;
  --boreal-danger-dark: #8a0000;
  --boreal-base-alt: #7a8b91;
  --boreal-neutral-300: #c4cfd4;
  --boreal-danger-lighter: #faeaea;
  --boreal-base-lighter: #f0f1f2;
  --boreal-danger-light: #e58080;
  --boreal-accent-lighter: #a6c1eb;
  --boreal-success-dark: #006600;
  --boreal-neutral-25: #f0f1f2;
  --boreal-accent-darker: #0c2a5c;
  --boreal-neutral-200: #e0e6e9;
  --boreal-warning-lighter: #fef0e6;
  --boreal-success-darker: #004d00;
  --boreal-primary-base: #007da4;
  --boreal-information-darker: var(--boreal-extended-cobalt-darker);
  --boreal-neutral-500: #7d7d7d;
  --boreal-neutral-100: #f0f1f2;
  --boreal-danger-base: #d93c3c;
  --boreal-neutral-800: #252525;
  --boreal-base-light: #e3e3e6;
  --boreal-primary-light: #99cbdd;
  --boreal-primary-lighter: #eaf6fa;
  --boreal-base-dark: #c4cfd4;
  --boreal-base-darker: #c4cfd4;
  --boreal-user-base: #007da4;
  --boreal-bg-overlay: #1a1a1a;
  --boreal-bg-inverse: #ffffff;
  --boreal-bg-primary-darker: #003242;
  --boreal-bg-default: #f0f1f2;
  --boreal-bg-primary: #007da4;
  --boreal-bg-neutral: #333333;
  --boreal-text-success: #339933;
  --boreal-text-danger: #d93c3c;
  --boreal-text-default-darker: #1a1a1a;
  --boreal-text-information: var(--boreal-extended-cobalt-base);
  --boreal-text-accent: #2163ce;
  --boreal-text-default: #333333;
  --boreal-text-default-light: #a1adb2;
  --boreal-text-inverse: #ffffff;
  --boreal-text-warning: #f89b4c;
  --boreal-text-disabled: #c4cfd4;
  --boreal-text-primary: #007da4;
  --boreal-text-danger-dark: #8a0000;
  --boreal-text-success-dark: #006600;
  --boreal-text-information-dark: var(--boreal-extended-cobalt-darker);
  --boreal-text-warning-light: #fab777;
  --boreal-text-danger-light: #e58080;
  --boreal-text-success-light: #c0e6c0;
  --boreal-text-information-light: var(--boreal-extended-cobalt-light);
  --boreal-text-warning-dark: #623400;
  --boreal-text-base: #7a8b91;
  --boreal-text-primary-light: #99cbdd;
  --boreal-text-primary-dark: #005066;
  --boreal-ui-default: #ffffff;
  --boreal-ui-inverse: #ffffff;
  --boreal-ui-accent: #2163ce;
  --boreal-ui-black-light: #7d7d7d;
  --boreal-ui-base: #7a8b91;
  --boreal-ui-base-light: #e3e3e6;
  --boreal-ui-disabled: #f2f2f2;
  --boreal-ui-info-light: var(--boreal-extended-cobalt-light);
  --boreal-ui-success-light: #c0e6c0;
  --boreal-ui-success: #339933;
  --boreal-ui-black: #1a1a1a;
  --boreal-ui-danger-light: #e58080;
  --boreal-ui-primary-lighter: #eaf6fa;
  --boreal-ui-danger: #d93c3c;
  --boreal-ui-info: var(--boreal-extended-cobalt-base);
  --boreal-ui-primary: #007da4;
  --boreal-ui-primary-light: #99cbdd;
  --boreal-ui-primary-dark: #005066;
  --boreal-ui-warning: #f89b4c;
  --boreal-ui-success-lighter: #eaf7ea;
  --boreal-ui-danger-lighter: #faeaea;
  --boreal-ui-info-lighter: var(--boreal-extended-cobalt-lighter);
  --boreal-ui-warning-light: #fab777;
  --boreal-ui-warning-lighter: #fef0e6;
  --boreal-ui-base-lighter: #f0f1f2;
  --boreal-ui-default-dark: #c4cfd4;
  --boreal-ui-success-dark: #006600;
  --boreal-ui-danger-dark: #8a0000;
  --boreal-ui-info-dark: var(--boreal-extended-cobalt-darker);
  --boreal-ui-warning-dark: #623400;
  --boreal-ui-default-light: #e3e3e6;
  --boreal-icon-info-dark: var(--boreal-extended-cobalt-darker);
  --boreal-icon-default-lighter: #e0e6e9;
  --boreal-icon-default-light: #c4cfd4;
  --boreal-icon-default: #333333;
  --boreal-icon-success: #339933;
  --boreal-icon-inverse: #ffffff;
  --boreal-icon-warning: #f89b4c;
  --boreal-icon-accent: #2163ce;
  --boreal-icon-danger: #d93c3c;
  --boreal-icon-base: #7a8b91;
  --boreal-icon-primary: #007da4;
  --boreal-icon-success-dark: #006600;
  --boreal-icon-warning-dark: #623400;
  --boreal-icon-danger-dark: #8a0000;
  --boreal-icon-info: var(--boreal-extended-cobalt-base);
  --boreal-icon-info-light: var(--boreal-extended-cobalt-light);
  --boreal-icon-success-light: #c0e6c0;
  --boreal-icon-warning-light: #fab777;
  --boreal-icon-danger-light: #e58080;
  --boreal-icon-disabled: #c4cfd4;
  --boreal-icon-primary-light: #99cbdd;
  --boreal-icon-primary-dark: #005066;
  --boreal-icon-user: #007da4;
  --boreal-alpha-black-50: #272a2f80;
  --boreal-alpha-black-25: #272a2f40;
  --boreal-alpha-white-50: #ffffff80;
  --boreal-alpha-white-25: #ffffff40;
  --boreal-alpha-white-10: #ffffff1a;
  --boreal-alpha-white-75: #ffffffbf;
  --boreal-alpha-white-85: #ffffffd9;
  --boreal-alpha-white-90: #ffffffe6;
  --boreal-alpha-white-95: #ffffffe6;
  --boreal-alpha-white-80: #ffffffcc;
  --boreal-alpha-white-55: #ffffff8c;
  --boreal-alpha-black-5: #272a2f0d;
  --boreal-alpha-black-10: #272a2f1a;
  --boreal-extended-tael-darker: var(--boreal-extended-teal-darker);
  --boreal-stroke-warning: #f89b4c;
  --boreal-stroke-inverse: #ffffff;
  --boreal-stroke-info: var(--boreal-extended-cobalt-base);
  --boreal-stroke-success: #339933;
  --boreal-stroke-default-dark: #c4cfd4;
  --boreal-stroke-default-light: #e3e3e6;
  --boreal-stroke-default: #7a8b91;
  --boreal-stroke-focus: #3b60c54d;
  --boreal-stroke-danger: #d93c3c;
  --boreal-stroke-accent: #2163ce;
  --boreal-stroke-primary: #007da4;
  --boreal-stroke-primary-light: #99cbdd;
  --boreal-stroke-primary-dark: #005066;
  --boreal-stroke-info-light: var(--boreal-extended-cobalt-light);
  --boreal-stroke-info-dark: var(--boreal-extended-cobalt-darker);
  --boreal-stroke-success-light: #c0e6c0;
  --boreal-stroke-success-dark: #006600;
  --boreal-stroke-warning-light: #fab777;
  --boreal-stroke-warning-dark: #623400;
  --boreal-stroke-danger-light: #e58080;
  --boreal-stroke-danger-dark: #8a0000;
}
