@use '../../styles/tokens-replacement.scss' as *;

@mixin bds-button-logic(
  $text,
  $bg,
  $hover-bg,
  $focus-bg: null,
  $active-bg: null,
  $border: transparent,
  $text-dis: $boreal-text-disabled,
  $bg-dis: $boreal-ui-components-inverse,
  $border-dis: transparent,
  $has-inset-shadow: false
) {
  color: $text;
  background-color: $bg;
  border-color: $border;

  &:hover {
    background-color: $hover-bg;
    box-shadow: 0 1px 2px 0 rgba(19, 19, 22, 0.15);
  }

  &:focus {
    @if $focus-bg {
      background-color: $focus-bg;
    } @else {
      background-color: $hover-bg;
    }

    box-shadow:
      0px 0px 0px 1px $boreal-ui-components-inverse,
      0px 0px 0px 3px $boreal-stroke-focus;
  }

  &:active,
  &.bds-button--state-active {
    @if $active-bg {
      background-color: $active-bg;
    } @else {
      background-color: $hover-bg;
    }

    $shadow:
      0px 0px 0px 1px $boreal-ui-components-inverse,
      0px 0px 0px 3px $boreal-stroke-focus;

    @if $has-inset-shadow {
      $shadow:
        #{$shadow},
        0 1px 2px 0 rgba(19, 19, 22, 0.15) inset;
    }

    box-shadow: $shadow;
  }

  &.bds-button--is-disabled,
  &.bds-button--is-loading {
    cursor: not-allowed;
    color: $text-dis;
    background-color: $bg-dis;
    border-color: $border-dis;
    box-shadow: none;
  }

  &.bds-button--is-loading {
    &::after {
      border-left-color: $text-dis;
      border-bottom-color: $text-dis;
    }
  }
}

@mixin bds-button-size($font-size, $padding, $line-height, $icon-size, $height) {
  border-radius: $boreal-radius-xs;
  font-size: $font-size;
  padding: $padding;
  line-height: $line-height;
  height: $height;

  .bds-button__content {
    padding: $boreal-spacing-3xs $boreal-spacing-2xs;

    &-icon {
      display: flex;
      font-size: $icon-size;
      line-height: $line-height;

      &:empty {
        display: none;
      }
    }

    /* TODO: Adjust badge styles when badge componentet are created */
    &-badge {
      &:empty {
        display: none;
      }
    }
  }
}

bds-button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.bds-button {
  font-family: 'Inter', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  border: 1px solid transparent;
  height: fit-content;
  transition: 0.3s all ease;
  margin: $boreal-spacing-2xs $boreal-spacing-3xs;
  outline: none;
  font-weight: $boreal-typography-font-weight-semibold;
  width: fit-content;
  vertical-align: middle;

  .bds-button__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &--is-loading {
    pointer-events: none;
    position: relative;
    color: transparent !important;

    &::after {
      position: absolute;
      content: ' ';
      box-sizing: inherit;
      animation: rotateSpinner 0.5s linear infinite;
      border-radius: 9999px;
      display: block;
      height: 1em;
      width: 1em;
      rotate: 45deg;
      left: calc(50% - 0.5em);
      top: calc(50% - 0.5em);
      border: 3px solid;
      border-right-color: transparent;
      border-top-color: transparent;
    }
  }

  &--size-small {
    @include bds-button-size(
      $boreal-typography-font-size-xs,
      $boreal-spacing-3xs $boreal-spacing-2xs,
      $boreal-typography-line-height-xs,
      $boreal-typography-font-size-sm,
      26px
    );

    .bds-button__content-badge {
      display: none;
    }
  }

  &--size-medium {
    @include bds-button-size(
      $boreal-typography-font-size-sm,
      $boreal-spacing-2xs $boreal-spacing-1xs,
      $boreal-typography-line-height-sm,
      $boreal-typography-font-size-md,
      32px
    );
  }

  &--size-large {
    @include bds-button-size(
      $boreal-typography-font-size-md,
      $boreal-spacing-xs,
      $boreal-typography-line-height-md,
      $boreal-typography-font-size-lg,
      44px
    );
  }

  &.bds-button--var-default {
    &.bds-button--default {
      @include bds-button-logic(
        $boreal-text-default,
        $boreal-ui-components-inverse,
        $boreal-ui-components-default-lighter,
        $has-inset-shadow: true
      );
    }

    &.bds-button--primary {
      @include bds-button-logic(
        $boreal-text-inverse,
        $boreal-ui-components-primary-base,
        $boreal-ui-components-primary-dark,
        $focus-bg: $boreal-ui-components-primary-base,
        $active-bg: $boreal-ui-components-primary-dark,
        $bg-dis: $boreal-ui-components-primary-light,
        $text-dis: $boreal-text-inverse
      );
    }

    &.bds-button--success {
      @include bds-button-logic(
        $boreal-text-inverse,
        $boreal-ui-components-success-base,
        $boreal-ui-components-success-dark,
        $focus-bg: $boreal-ui-components-success-base,
        $active-bg: $boreal-ui-components-success-dark,
        $bg-dis: $boreal-ui-components-success-light,
        $text-dis: $boreal-text-inverse
      );
    }

    &.bds-button--error {
      @include bds-button-logic(
        $boreal-text-inverse,
        $boreal-ui-components-danger-base,
        $boreal-ui-components-danger-dark,
        $focus-bg: $boreal-ui-components-danger-base,
        $active-bg: $boreal-ui-components-danger-dark,
        $bg-dis: $boreal-ui-components-danger-light,
        $text-dis: $boreal-text-inverse
      );
    }
  }

  &.bds-button--var-outline {
    background-color: transparent;

    &.bds-button--default {
      @include bds-button-logic(
        $boreal-text-default,
        transparent,
        $boreal-ui-components-default-lighter,
        $border: $boreal-stroke-default-light,
        $border-dis: $boreal-stroke-default-light
      );
    }

    &.bds-button--primary {
      @include bds-button-logic(
        $boreal-text-primary-base,
        transparent,
        $boreal-ui-components-primary-lighter,
        $border: $boreal-ui-components-primary-base,
        $text-dis: $boreal-text-primary-light,
        $bg-dis: transparent,
        $border-dis: $boreal-stroke-primary-light
      );
    }

    &.bds-button--success {
      @include bds-button-logic(
        $boreal-text-success-base,
        transparent,
        $boreal-ui-components-success-lighter,
        $border: $boreal-stroke-success-base,
        $text-dis: $boreal-text-success-light,
        $bg-dis: transparent,
        $border-dis: $boreal-stroke-success-light
      );
    }

    &.bds-button--error {
      @include bds-button-logic(
        $boreal-text-danger-base,
        transparent,
        $boreal-ui-components-danger-lighter,
        $border: $boreal-stroke-danger-base,
        $text-dis: $boreal-text-danger-light,
        $bg-dis: transparent,
        $border-dis: $boreal-stroke-danger-light
      );
    }
  }

  &.bds-button--var-plain {
    background-color: transparent;

    &.bds-button--default {
      @include bds-button-logic(
        $boreal-text-default,
        transparent,
        $boreal-ui-components-default-lighter,
        $has-inset-shadow: true
      );
    }

    &.bds-button--primary {
      @include bds-button-logic(
        $boreal-text-primary-base,
        transparent,
        $boreal-ui-components-primary-lighter,
        $text-dis: $boreal-text-primary-light,
        $bg-dis: transparent,
        $has-inset-shadow: true
      );
    }

    &.bds-button--success {
      @include bds-button-logic(
        $boreal-text-success-base,
        transparent,
        $boreal-ui-components-success-lighter,
        $text-dis: $boreal-text-success-light,
        $bg-dis: transparent,
        $has-inset-shadow: true
      );
    }

    &.bds-button--error {
      @include bds-button-logic(
        $boreal-text-danger-base,
        transparent,
        $boreal-ui-components-danger-lighter,
        $text-dis: $boreal-text-danger-light,
        $bg-dis: transparent,
        $has-inset-shadow: true
      );
    }
  }
}

@keyframes rotateSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
